@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');
@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'NotoeeeSans KR', sans-serif;*/
/*font-family: '양진체'*/
html{font-size:12px; font-family: 'Noto Sans KR', sans-serif; min-width: 1700px;}
img{vertical-align:top;}
a{text-decoration:none;}
a,a:link,a:visited,a:hover,a:active{color:#333;}

.wrap{width:1200px; margin:0 auto; text-align: center;}
h2{
    display: none;
    visibility: hidden;
    width: 0; height: 0;
    overflow: hidden;
    text-indent: -9999px;
}

.clear::after{
    content:'';
    display:block;
    width: 0; height: 0;
    visibility: hidden;
    overflow: hidden;
    clear:both;
}

/*헤더영역*/
#header{
  width:100%;
  height:100px;
  margin: 0 auto;
  
 
}
.header_wrap{margin: 0 110px; position: relative; width:1700px; height:100px;}
#m_header{display: none;}
#logo{
  width:250px;
  height:70px;
  display:inline-block;
  position: absolute;
  left:0px;
  top:15px;
}

.r_icon{width:80px; display: flex;
  flex-flow: row wrap; 
 justify-content: space-between;
 align-items :center;

}
.r_icon img{width:30px; height:30px;}

#main_search{width:400px; position: absolute; bottom: 10px; right:0; height:30px; line-height: 30px;
  display: flex;
  flex-flow: row wrap; 
 justify-content: space-between;
 align-items :center;
}
#main_search input{
  
  border:none;  border-bottom:2px solid #156037; 
  width:270px; height:30px;
  outline: none;
  text-align: center;

}

#main_search>a{display:inline-block; width:25px; height:25px;  }
#main_search>a>img{width:25px; height:25px; padding-top: 3px;}
#util{


  position: absolute;
  top:10px;
  right:0;

}
.util_right>li{
  float:left;

}
.util_right>li:nth-child(2),
.util_right>li:nth-child(4),
.util_right>li:nth-child(6),
.util_right>li:nth-child(8),
.util_right>li:nth-child(10){
  margin:0 20px 0 20px;
}
.util_right::after{
content:'';
width:0; height:0;
display:block;
clear:both;
visibility:hidden;
}
.util_right>li>a{
  font-size:1.2rem;
}
.gnb{
  position:absolute;
  left:590px;
  width:720px;
  display:flex;
  flex-flow:row wrap;
  justify-content: space-between;
  bottom:15px;
  left:50%;
  transform: translateX(-50%);
}
.gnb>li{
  float:left;
  text-align: center;
}
.gnb>li>a{
  display:block;
  font-size:1.7rem;
  font-weight:bold;
  transition: all .4s;
  width:240px;
  position:relative;
  color:#5d5d5d;
}
.gnb>li>a:hover{
  font-size:1.9rem;
  color:#156037;
  transition: all .4s;
}
.gnb>li:nth-child(1)>a{font-size:1.9rem;
  color:#156037;}

.gnb>li>a::after {
  content: "";
  width: 0;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
}
.gnb>li>a:hover::after {
  content: "";
  width: 50%;
  height: 4px;
  position: absolute;
  background: #156037;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  transition: all 0.3s;
}
.gnb>li:nth-child(1)>a::after{ content: "";
  width: 60%;
  height: 4px;
  position: absolute;
  background: #156037;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  transition: all 0.3s;}
  .gnb>li:nth-child(2)>a:first-child:hover::after,
  .gnb>li:nth-child(3)>a:first-child:hover::after {
      width: 60%;
  }


#menu{
    position:fixed;
    left:50px;
    font-size:1.7rem;
    line-height:2;
    top:266px;
    z-index:99999;
}
#menu>ul>li>a{transition: all .4s;
color:#5d5d5d; z-index:99999;}
#menu>ul>li>a:hover{
    font-size:30px;
    color:#156037;
    font-weight:bold;
    transition: all .4s;
    z-index:99999;
}

/*링크*/

/*영상모달*/
.video_modal_popup.reveal {
  display: flex;
  position: fixed;
  left:0;
  top:0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index:999999;
}

.video_modal_popup .video-wrapper {
  position: relative;
  width: 60%; height: 80%;
  margin: 10%;
  z-index: 10;
}

.video_modal_popup .video-wrapper iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%; height: 100%;
}

.video_modal_popup.reveal .video_modal_popup-closer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
}
/*page1 구역*/
#page1{background: url('../images/brand_main/bc_sec01_bg.png')no-repeat center center/cover;
padding:100px 0 60px 0;}
#page1 figcaption{font-size:45px;}
#page1 figcaption>span{
    font-size:60px; 
    font-family: '양진체'; 
    color:#156037;
    text-shadow:-3px 0 #8dc270, 0 3px #8dc270, 3px 0 #8dc270, 0 -3px #8dc270;
    line-height: 2;
}

@keyframes anime_textup { 0% { top: 0; } 20% { top: -1.2rem; } 40% { top: 0 } 60% { top: 0 } 80% { top: 0 } 100% { top: 0 } }
.test_obj{
  padding-top:20px;
}
.test_obj span {
    position: relative;
    animation: anime_textup 1.8s infinite;
}

.test_obj span:nth-of-type(1) {
    animation-delay: .1s;
}

.test_obj span:nth-of-type(2) {
    animation-delay: .2s;
}

.test_obj span:nth-of-type(3) {
    animation-delay: .3s;
}

.test_obj span:nth-of-type(4) {
    animation-delay: .4s;
}

.test_obj span:nth-of-type(5) {
    animation-delay: .5s;
}

#page1>div>div{
    width:100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#page1>div>div>ul>li{line-height:1.5;}
#page1>div>div>ul>li:first-child{
    font-size:43px;
    font-weight: 500;
    margin-top:50px;
    margin-bottom:50px;
}
#page1>div>div>ul>li:first-child>span{
    font-size:47px;
    color:#156037;
    font-weight: bold;
}
#page1>div>div>ul>li:nth-child(2){
    font-size:22px;
    line-height:1.4;
    text-align:right;
    margin-bottom:100px;

}
#page1>div>div>ul>li:last-child>a{
  color:#fafafa; width:200px; height:60px; display:block; line-height: 60px; background:#156037; 
  margin-left:270px; font-size: 22px; font-weight: bold;
}
#page1>div>div>ul>li:last-child>a:hover{background-color:#145933;}
#page1>div>div>ul>li:last-child>a:active{background-color:#0F4025;}

#page1>div>div>img{width:435px; height:442px;
margin-top:50px;}

.ui-shake{
  animation: shakeMotion 0.6s ease-in forwards 1.2s;
}
@keyframes shakeMotion{
  0%{transform:rotate(0);}
  12%{transform:rotate(2deg);}
  36%{transform:rotate(-2deg);}
  62%{transform:rotate(1deg);}
  86%{transform:rotate(-1deg);}
  100%{transform:rotate(0);}
}


/*page1_1 구역*/

#page1_1{background:#e7efeb;
  height:1000px;
}

#m_itemlist{display: none;}

#m_itemlist>h3>span{
  font-size:60px;
  font-family: '양진체';
  color:#156037;
}
h3{
    font-size:45px;
    text-align: center;
    font-weight:500;
    line-height:1.5;
    padding:60px;
    position:relative;
}
.fd>span{
  font-size:60px;
  font-family: '양진체';
  color:#156037;
}

.origin img:hover{transform:scale(1.2);}
#page1_1>div>.origin{    
    margin:0 auto;
    display:flex;
    width:80%;
    justify-content:space-between;
    flex-flow:row wrap;
    
}

.origin>li>figure>img{
    padding-bottom:10px;
}
.line1{background:#156037;
    width:960px; height:3px;
    position:relative;
    top:225px;
    margin:0 auto;
}
.line2{background:#156037;
    width:960px; height:3px;
    position:relative;
    top:25px;
    margin:0 auto;
}
#line1,#line2,#line3,#line4,#line5,#line6{
    background:#156037;
    border-radius:50px;
    width:10px;
    height:10px;
    position:relative;
    left:45px;
    top:43px;
}

#line7{
    background:#156037;
    border-radius:50px;
    width:10px;
    height:10px;
    position:relative;
    left:590px;
    top:45px;
}
.latest_fig>li:last-child{
    position:relative;
    top:55px;
    font-weight:700;
	font-size:1.3rem;
}

#ddi{text-align: center;
  font-size: 14px;
  color:#156037;
  position:absolute;
  right:120px;
  bottom:85px;
}
  
#ddi img{width:30px;}

.origin>li{text-align: center;margin-bottom:10px; font-weight:700;}
#page1_1>.wrap figcaption{
    padding-top:53px;font-size:1.3rem;
}
.latest{
    position:relative;
    width:700px;
    margin:0 auto;
    margin-top:50px;
}

#m_orgin{display: none;}

.latest>li:nth-child(1) img{
    width:700px;
    margin:0 auto;
}
.latest img:hover{transform:scale(1.1);}

/*page2 구역*/
#page2{
  width:100%; height: 960px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
#page2 .wave{
  opacity: .6;
  position: absolute;
  top: -50%;
  left: 32%;
  background:#e1ffa5;
  width: 2030px;
  height: 2030px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 45%;
  animation: drift 3000ms infinite linear;

}
#page2 .wave.-three {
  animation: drift 5000ms infinite linear;
  z-index:9;
}
#page2 .wave.-one {
  animation: drift 5000ms infinite linear;
  z-index:99;
  background: #cfdd8e;
}

#page2 .wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background:#0c5f0e;
  z-index:999;
}

#page2 .box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(rgb(33, 255, 159), 1), rgba(rgb(34, 215, 103), 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
#page2 .abvvv{
  position: absolute;
  z-index:9999;
  left: 50%;
  transform: translateX(-50%);
}
#page2 h3{
    font-size:60px;
    font-family: '양진체';
    color:#508a31;
    padding:0;
    width:400px;
    margin:0 auto;
    background:#f2f2f2;
    background: linear-gradient(0deg, #f2f2f2 20%, rgba(0,0,0,0) 50%);
    height:70px;
    margin-top: 60px;
}
#page2 figure{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align:left;
    margin:80px 0;
}

#page2>div p {
  font-size:1.8rem;
  line-height: 1.5;
  color:#000000;
  text-align:js
  
}
#page2>div p span:first-child{color:#156037; font-weight: bold; font-size:2rem;}
#page2>div>div{
  position:relative;
}
.page2_end{display: none;}

.page2_gal{
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
    margin:100px 0;
}


/*page3 구역*/
#page3>h3{
    font-size:45px;
    font-weight: 500;
}
#page3>h3>span{
    font-size:60px;
    color:#156037;
    font-weight: 600;
}
.bg{
  position: relative;
  z-index: -99999;
}
.bg01>img,.bg02>img,.bg03>img{
  width:1800px;
  height:350px;
}
.bg01{
  position:absolute;
  left:0;
  top:0;
}
.bg02{
  position:absolute;
  right:0;
  top:450px;
}
.bg03{
  position:absolute;
  left:0;
  top:900px;
}
.founder_wrap01,
.founder_wrap02,
.founder_wrap03{
  width:1200px;
  font-size:1.3rem;
  background-size:100%;
  text-align: left;
  display:flex;
  justify-content:space-between;
  height:350px;
  align-items: center;
  margin-bottom: 100px;
}
.founder_wrap02{
  display: flex;
  flex-direction:row-reverse;
  text-align: right;
  justify-content:space-between;
}

.founder_wrap01>div>img,
.founder_wrap02>div>img,
.founder_wrap03>div>img{
  width:75%;}
  .founder_wrap02>div>img{
    width:270px;
  }
.founder_wrap01 h4,.founder_wrap02 h4,.founder_wrap03 h4{
  font-size:2.3rem;font-weight: 600; padding-bottom:20px;
}
.founder_wrap02 h4,.founder_wrap03 h4{
  line-height:1.3;
}
.founder1_2>img{
  width:80%;
  position:relative;
  bottom:-30px; right:-80px;
}
.founder2_2>img{
  width:90%;
  position:relative;
  bottom:-25px; left:-20px;
}
.founder3_2>img{
  width: 85%;
  position:relative;
  bottom:-10px; right:-80px;
}

.founder_wrap01>div:nth-child(3)>p{
  font-size:22px;
  position:relative;
  bottom:-260px; left:-150px;
}
.founder_wrap02>div:nth-child(3)>p{
  font-size:22px;
  position:relative;
  bottom:-260px;left:250px;
}
.founder_wrap03>div:nth-child(3)>p{
  font-size:22px;
  position:relative;
  bottom:-280px; left:-150px;
}

.founder_wrap01>div:nth-child(3) span,.founder_wrap02>div:nth-child(3) span,.founder_wrap03>div:nth-child(3) span
{color:#156037;font-weight: 600;}
.founder_wrap01>div:nth-child(2),.founder_wrap02>div:nth-child(2),.founder_wrap03>div:nth-child(2)
{line-height:1.8;}
.founder_wrap01>div:nth-child(1),.founder_wrap03>div:nth-child(1)
{position:relative;left:60px;}
.founder_wrap02>div>img{position:relative;}




/*page4 구역*/
#page4{
  width: 100%; height: 1020px;
  background: #f5fbe2;

}
#page4>.wrap{
  width: 1200px;
  margin: 0 auto; 
}
#page4>.wrap>h3{
  width: 100%;
  font-size: 60px;
  text-align: center;
  color:#156037;
  box-sizing: border-box;
  font-family: '양진체'
}
#page4>.wrap>h4{font-size:41px; margin:0px 0px 40px; }
#page4>.wrap>h4>span{
  font-weight: 700;
  font-size: 5rem;
  color:#156037;
}

.abc{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}
.abc>a{
  display: block;
  width: 20%; margin:0px 50px 0px 85px;
}
.abc>a>.img{width: 100%; height: 100%;}
.page4_l{
  width: 26%;
  position: relative;
  text-align: left;
}
.page4_l>h1{
   display: inline-block;
    position: relative;
    color:#333; font-size:32px; 
    font-family: '양진체';
    left: 20px; top: 50px;
    line-height: 1.2;
}
.page4_l>h3{
  display: inline-block;
  position: absolute;
  top: 43px; right: 40px;
  padding: 0;
  font-size: 5.5rem;
  font-weight: 600;
  color: #156037;
  font-family: '양진체';
}
.page4_l>h4{
  display: inline-block;
  width: 220px; height: 30px;
  position: absolute;
  left: 20px;
  bottom: 80px;
  font-size: 22px;
}
.page4_l>h5{
  display: inline-block;
  width: 190px; height: 30px;
  position: absolute;
  left: 20px;
  bottom: 50px;
  font-size: 14px;
}
.page4_r{
  width: 30%;
  position: relative;
  margin-left: 20px;
  text-align: left;
}
.page4_r>h1{
  display: inline-block;
  position: absolute;
  left: 10px; top: 5px;
  font-size: 21px;
  font-weight: 500;
  color: #333;
}
.page4_r>h3{
  display: inline-block;
  font-family: '양진체';
  font-size: 68px;
  color: #156037;
  position: absolute;
  left: 10px; top: 40px;
  padding: 0;
}
#ani{
  width: 230px;
  display: flex;
  position: absolute;
  left: 0px;
  bottom: 60px;
  text-align: right;
}
#ani>div{
  width: 65px;
  font-size:31px;
  color:#333;
  font-weight: 800;
}
#ani>div:last-child{
  width: 20px;
}

.page4_r>h5{
  position: absolute;
  font-size:14px;
  color:#333;
  font-weight: 500;
  left: 12px; bottom: 30px;
}
.page4_r>img{
  position: absolute;
  right: 100px; bottom: 30px;
}
.product{
  width: 100%;
  display: flex;
  justify-content:center;
  margin-bottom: 100px;
}
.product>a{
  display: block;
  width: 15%;
  animation: rotate 2s infinite;
}
.product>a>img{
  width: 70%;
}

@keyframes rotate { 0% { transform: rotate(-10deg); }  50% { transform: rotate(10deg) } 100% { transform: rotate(-10deg) }}


/*푸터영역*/
footer{
    background:#d7d7d7;
    height:100px;
}
footer>.wrap{
    position:relative;
    padding:0;
}
footer>div>.logo{
    float:left;
    margin-top:40px;
  }
footer>div>address{
    position:absolute;
    left:300px;
    top:30px;
}
footer>div>address>p{
    line-height:25px;
    font-size:1.2rem;
    color:#5d5d5d;
}
footer>div>.ft_01{
    float:right;
    margin-top:30px;
}
footer>div>.ft_01>li{
    padding:5px;
}
footer>div>.ft_01>li:nth-child(1){
    text-align:right;
}
footer>div>.ft_01>li:nth-child(2){
    font-size:1.2rem;
    color:#5d5d5d;
}
footer>div>.ft_01>li>a{
    font-size:1.5rem;
    font-weight:bold;
    color:#5d5d5d;
}
/*검색창 영역*/
#search_popup{
  font-weight: 700;
}
.search_bar_bg{width:83%; margin:2% auto 1%;
  height:10%;}
.search_bar1{
  border:3px solid #156037;
  width: 90%;
  height:100%;
  background: #f2f2f2;
  box-sizing: border-box;
  margin-right: 15px;
}

.search_bar_bg img{width:5%;  margin-top: 1%; }
#search_bg{
  margin-top:2%;
  width:83%;
  height:82%;
  border:3px solid #156037;
  position: relative;
  box-sizing: border-box;
}

#search_bg>div{
  width:45%;
  height:6.25%;
}
#search_icon>div:nth-child(1)>a img{
  padding: 2px 0 0;
}
#search_icon>div:nth-child(1)>a{
      width:270px; height:30px;
}
#search_bg:nth-child(2)>a img{
  padding: 5px 0 0;
}
#search_r>li>a,#search_l>li>a{ line-height: 2;
  color:#333;
  font-size: 16px;
}

#search_bg{margin:0 auto;}
#search_r>li:first-child{display: flex;
  flex-flow: row wrap; 
 justify-content: space-around;
 align-items :center}
#search_l>li:last-child{margin:140px 0 0 20px; }
#search_bg>ul{
  width:50%;
  height:100%;
}
#search_l>li>a{padding-left: 10px;}
#search_bg>ul:nth-child(1){
  position: absolute;
  left: 0; 
  border-right: 2px solid rgba(21, 96, 55,0.1);
  
 
}
#search_r>li{padding-left: 5%;}
#search_bg>ul:nth-child(1)>li:first-child{text-align: center; }
#search_bg>ul>li:first-child>a{color: #156037; font-size: 20px;}
#search_bg>ul:nth-child(2){
  position: absolute;
  right:0 ;
}
#search_bg>ul:nth-child(2)>li:nth-child(5){
  top:30px;
}




input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  text-align: right;
 
}
#x_icon{width:35px; height: 35px;}
#search_popup{
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
  text-indent: -9999px;
}



input[type=checkbox]:checked ~ #search_popup {
  visibility: visible;
  width: 600px;
  height: 400px;
  
  overflow: hidden;
  text-indent: 0;
  right: 0;
  background: rgba(0,0,0,0.1);
  transition: all 0.4s;
  position: fixed;
  
  box-sizing: border-box;
  top: 50px;
  right: 50px;
  z-index: 1;
}

#search_insert{width:240px; border:0;  background: rgba(0,0,0,0.1);}


@media all and (max-width:1024px){
     html{min-width: 100px;}
    body {
        width:1024px;
      }
      .wrap {
        width: 740px;
      }

      /*검색*/
      


      /*모바일 헤더영역 */
      #header {
        display: none;
      }
      #util,
      .gnb {
        display: none;
      }
    
      #menu {
        display: none;
      }
    
      #m_header {
        display: block;
        width: 100%;        margin: 0 auto;
        box-sizing: border-box;
        height: 100px;
        z-index: 99999;
        position: fixed;
        background: #fff;
        right:0;
      }
      #m_logo {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
        text-align: center;
      }
    
      #m_logo img {
        width: 180px;
      }
    
      input[id="m_btn"] {
        display: none;
      }
    
      input[id="m_btn"] + label {
        display: block;
        width: 60px;
        height: 40px;
        cursor: pointer;
        position: relative;
        z-index: 2;
        float: right;
        right: 5%;
        top: 30%;
      }
    
      input[id="m_btn"] + label > span {
        display: block;
    
        height: 7px;
        width: 100%;
        border-radius: 30px;
        background: black;
        position: absolute;
      }
    
      input[id="m_btn"] + label > span:nth-child(1) {
        top: 0;
      }
    
      input[id="m_btn"] + label > span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
    
      input[id="m_btn"] + label > span:nth-child(3) {
        bottom: 0;
      }
      #m_popup {
        visibility: hidden;
        width: 0;
        height: 0;
        overflow: hidden;
        text-indent: -9999px;
      }
      .m_gnb {
        width: 90%;
        margin-bottom: 30px;
      }
      .m_gnb > li > a {
        display: block;
        color: #f2f2f2;
        font-size: 3rem;
        line-height: 1.8;
      }
      .m_gnb > li:last-child {
        border-bottom: 3px solid #156037;
        padding-bottom: 30px;
      }
    
      .m_util {
        width: 90%;
      }
      .m_util > li > a {
        display: block;
        color: #f2f2f2;
        font-size: 2rem;
        line-height: 2;
      }
    
      .m_gnb > li > a:hover,
      .m_util > li > a:hover {
        font-weight: bold;
        color: #156037;
      }
    
      input[id="m_btn"]:checked + label > span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transition: all 0.4s;
        background: #fff;
      }
    
      input[id="m_btn"]:checked + label > span:nth-child(2) {
        display: none;
      }
    
      input[id="m_btn"]:checked + label > span:nth-child(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
        transition: all 0.4s;
        background: #fff;
      }
    
      input[id="m_btn"]:checked ~ #m_popup {
        visibility: visible;
        width: 50%;
        height: 100%;
    
        overflow: hidden;
        text-indent: 0;
        right: 0;
        background: #000;
        transition: all 0.4s;
        position: fixed;
        padding: 60px 25px 25px 25px;
        box-sizing: border-box;
        top: 0;
        right: 0;
        z-index: 1;
      }


    /*모바일 page영역 공통 */
    /*모바일 page1영역*/
    #page1{padding-top: 200px; padding-bottom:100px;}

    #page1>div>div{
        display: block;
    }
    #page1>div>div>ul>li:nth-child(2)
    {text-align: center;}
    #page1>div>div>img{width:auto; height:300px;}
  
    #page1 figcaption{font-size: 0.8em;}

      
    /*모바일 page1_1 영역*/
   #page1_1{width:1024px; height:2200px; background: #e7efeb;}
   #page1_1>div:first-child{display: none;}

   .fd>span{
    font-size:60px;
    font-family: '양진체';
    color:#156037;
  }
 
    #m_itemlist{display:block; width:1024px; margin:0 auto; height: 2100px;
    }
    #m_itemlist figcaption{
        padding-top:40px;
        font-size:1.3rem; 
        font-weight: bold;
    }
    #m_itemlist>div{width:740px; margin:0 auto;}
    #m_itemlist>div::after{
        content:'';
        width:0; height:0;
        display:block;
        clear:both;
        visibility:hidden;
     }
     

    .item_left{width:370px; height:1800px;  border-right: 2px solid #156037;
     box-sizing: border-box; padding: 5% 0; float:left; text-align: center;
    }
    .item_right{width:370px; height: 1800px;  border-left: 2px solid #156037;
        float:right; box-sizing: border-box;  padding: 5% 0;text-align: center; }
        .end_line{background:#156037;
            border-radius:50px;
            width:10px;
            height:10px;}
   
        #m_itemlist h4{width:100%;   text-align: center; display: block; background: #e7efeb;  margin-top: 30px;
        font-size: 1.8rem; font-weight: bold;}


        /*left*/
    .item_left .itme_line{width:120px; height:2px; background: #156037; display:inline-block; position:absolute; right:3%; top:50%; transform: translateY(-50%);}

    .item_left .item_circle{
    background:#156037;
    border-radius:50px;
    width:10px;
    height:10px; display:inline-block;
    position: absolute; 
    right:0; top:50%; 
    transform: translateY(-50%);

}


    .item_left>ul{width:100%; height:90%;}
    .item_left>ul>li{width:100%; height: 20%; position: relative;
    margin-bottom: 40%;}
    .item_left>ul>li>figure{position: absolute; right: 45%; top:50%; transform: translateY(-50%);}
    .item_left>ul>li:last-child{margin: 0;}
    .item_left>ul>li:last-child>img{width:100%;  position: absolute; left:50%; top:50%; transform: translate(-50%,-50%);}



/*right*/
.item_right>ul{width:100%; height:90%;}
.item_right>ul>li{width:100%; height: 20%; position: relative; margin-top: 40%;}
.item_right>ul>li>figure{position: absolute; left: 45%; top:50%; transform: translateY(-50%);}
.item_right .itme_line{width:120px; height:2px; background: #156037; display:inline-block; position:absolute; left:3%; top:50%; transform: translateY(-50%);}

.item_right .item_circle
{
    background:#156037;
    border-radius:50px;
    width:10px;
    height:10px; display:inline-block;
    position: absolute; left:0; top:50%; transform: translateY(-50%);
}
.item_right>ul>li:last-child{margin-top:0;}
.item_right>ul>li:last-child>img{width:50%; position: absolute; left:50%; top:50%; transform: translate(-50%,-50%); }

/*모바일 page2 영역*/
  #page2{
    height:1060px;
  }
  #page2>div{width:740px;}
  #page2>div>div>figure>img{
    margin-top: 50px;
    transform: scale(1.5);
  }
  #page2>div p {
    font-size:1.5rem;
    line-height: 1.5;
    color:#000000;    
  }
  #page2>div span:last-child{display: none;}
  .abvvv>div>figure>figcaption{
    margin:20px auto;
    margin-top:80px;
  }
  .abvvv>div>figure{margin-bottom: 0 !important;}
  
  .page2_gal{margin: 0 !important;}
  .page2_gal>img:last-child{display:none;}
    .page2_end{display:block; text-align: left; padding-top: 50px;}
    .page2_end>p{font-size:19px !important;}

   
/*모바일 page3 영역*/

#page3 .wrap h3{font-size: 40px;}

.page3_gal{
  width:100%;
  font-size:1.1rem;
  margin:0 auto;
}

.bg01>img,.bg02>img,.bg03>img{
  width:100%;
}

.page3_gal>.wrap>div:first-child{display:none;}

.founder_wrap02{
  width:740px;
}
.founder_wrap02>div:nth-child(2){
  width: 65%;
}
.founder_wrap02>div:nth-child(3){
  width: 35%;
}
.founder_wrap02>div:nth-child(3)>p {
  font-size:20px;
  position: relative;
  bottom: -230px;
  left:0px;
}
.founder2_2>img {
  width: 90%;
  position: relative;
  bottom: 30px;
  left:0;
}
.founder_wrap01>div:nth-of-type(2),.founder_wrap03>div:nth-of-type(2){
  width: 70%;

}
.founder_wrap01>div:nth-of-type(3),.founder_wrap03>div:nth-of-type(3){
  width: 30%;
  position: relative;
}
.founder_wrap01>div:nth-of-type(3)>i,.founder_wrap03>div:nth-of-type(3)>i{
  width: 100%;
}
.founder_wrap01>div:nth-of-type(3)>i>img,.founder_wrap03>div:nth-of-type(3)>i>img{
  width:90%;
}
.founder1_2 > img{
  width: 80%;
  position: relative;
  bottom:20px;
  right:0;
}
.founder3_2 > img{
  width:60%;
  position: relative;
  bottom:30px;
  right:0;  
}
.founder_wrap03>div:nth-child(3)>p {
  font-size: 20px;
  position: relative;
  bottom:-245px;
  left:0px;
}

.founder_wrap01>div:nth-child(3)>p{
  position: relative;
  bottom:-230px;  
  left:0px;
  font-size: 20px;
}
.founder_wrap01,.founder_wrap02,.founder_wrap03{font-size:1.4rem;}




/*모바일 page4 영역*/

#page4{
  width: 100%; height: 900px;
  }
.product{display: none;}
#page4>.wrap{width: 740px; margin: 0 auto;}
.abc{
  width: 100%;
  display: block;
  margin-bottom: 50px;
}
.abc>a{display: none;}
.page4_l{
  width: 100%; height:260px;
}
.page4_l>h1{
  font-size: 4rem;
  left: 148px; top: 32px;
}
.page4_l>h3{
  font-size: 100px;
  right: 190px; top: 20px;
}
.page4_l>h4{
  left: 150px; top: 180px;
}
.page4_l>h5{
  left: 390px; top: 185px;

}
.page4_r{
  width: 100%; height: 280px;
  margin: 0;
}
.page4_r>h1{
  left: 215px; top:10px;
  font-size: 2.5rem;
}
.page4_r>h3{
  top: 70px; left: 50%;
  transform: translateX(-50%);
}
#ani{
  width: 370px;
  left: 150px; top: 180px;


}
#ani>div{
  width: 30%;
  font-size: 4.5rem;
}
.page4_r>h5{
  top: 25px; left: 385px;
}
.page4_r>img{right: 160px; bottom: 30px;}

/*기타*/
.up_button {
  width: 40px;
  height: 40px;
  background-image: url("../images/brand_main/up_button.svg");
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
}
 /*모바일 푸터*/

footer{
    width:1024px; height:100px; margin:0 auto;
  }
  footer div.wrap {width:740px; height:100px;
    position:relative;
    padding:0;
  
  }
  
  footer>div>.logo{
    position: absolute; left:0; top:50%; transform: translateY(-50%); width:250px; height:30px; line-height: 30px; text-align: center; margin: 0;
  }
  footer>div>.logo img{width:244px; height:25px; vertical-align: middle;}
  footer>div>address{ 
    text-align: left;
    position:absolute;
    
    top:15px;
    left:35%;
  }
  footer>div>address>p{
    
    font-size:1rem;
    color:#5d5d5d;
  }
  footer>div>.ft_01{
    text-align: left;
    width:450px;
    margin:0;
    
   position: absolute;
   top:70px;
   left:35%;
   display: flex;
    flex-flow: row wrap; 
   justify-content:space-between;
   align-items:flex-end;
  }
  footer>div>.ft_01>li{ display: block; padding:0; height:20px; line-height: 20px; }
  footer>div>.ft_01>li:first-child{width:135px;  text-align: left; }
  footer>div>.ft_01>li:last-child{width:315px; text-align: right; }
  footer>div>.ft_01>li:nth-child(2){
    font-size:1rem;
  }
  footer>div>.ft_01>li>a{
    font-size:1.4rem;
  }
  
}