@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');
@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*font-family: 'Noto Sans KR', sans-serif;*/
/*font-family: '양진체'*/
html{font-size:12px; font-family: 'Noto Sans KR', sans-serif; min-width: 1700px;}
img{vertical-align:top;}
a{text-decoration:none;}
a,a:link,a:visited,a:hover,a:active{color:#333;}
*{margin:0; padding:0;}
ul,ol,li{list-style:none;}

.wrap{width:1200px; margin:0 auto;}
h2{
    display: none;
    visibility: hidden;
    width: 0; height: 0;
    overflow: hidden;
    text-indent: -9999px;
}
/*헤더영역*/
#header{
    width:100%;
    height:100px;
    margin: 0 auto;
    
   
  }
  .header_wrap{margin: 0 110px; position: relative; width:1700px; height:100px;}
  #m_header{display: none;}
  #logo{
    width:250px;
    height:70px;
    display:inline-block;
    position: absolute;
    left:0px;
    top:15px;
  }
  
  .r_icon{width:80px; display: flex;
    flex-flow: row wrap; 
   justify-content: space-between;
   align-items :center;
  
  }
  .r_icon img{width:30px; height:30px;}
  
  #main_search{width:400px; position: absolute; bottom: 10px; right:0; height:30px; line-height: 30px;
    display: flex;
    flex-flow: row wrap; 
   justify-content: space-between;
   align-items :center;
  }
  #main_search input{
    
    border:none;  border-bottom:2px solid #156037; 
    width:270px; height:30px;
    outline: none;
    text-align: center;
  
  }
  
  #main_search>a{display:inline-block; width:25px; height:25px;  }
  #main_search>a>img{width:25px; height:25px; padding-top: 3px;}
  #util{
  
  
    position: absolute;
    top:10px;
    right:0;
  
  }
  .util_right>li{
    float:left;
  
  }
  .util_right>li:nth-child(2),
  .util_right>li:nth-child(4),
  .util_right>li:nth-child(6),
  .util_right>li:nth-child(8),
  .util_right>li:nth-child(10){
    margin:0 20px 0 20px;
  }
  .util_right::after{
  content:'';
  width:0; height:0;
  display:block;
  clear:both;
  visibility:hidden;
  }
  .util_right>li>a{
    font-size:1.2rem;
  }
  .gnb{
    position:absolute;
    left:590px;
    width:720px;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    bottom:15px;
    left:50%;
    transform: translateX(-50%);
  }
  .gnb>li{
    float:left;
    text-align: center;
  }
  .gnb>li>a{
    display:block;
    font-size:1.7rem;
    font-weight:bold;
    transition: all .4s;
    width:240px;
    position:relative;
    color:#5d5d5d;
  }
  .gnb>li>a:hover{
    font-size:1.9rem;
    color:#156037;
    transition: all .4s;
  }
  .gnb>li:nth-child(2)>a{font-size:1.9rem;
    color:#156037;}
  
  .gnb>li>a::after {
    content: "";
    width: 0;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
  }
  .gnb>li>a:hover::after {
    content: "";
    width: 50%;
    height: 4px;
    position: absolute;
    background: #156037;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    transition: all 0.3s;
  }
  .gnb>li:nth-child(2)>a::after{ content: "";
    width: 60%;
    height: 4px;
    position: absolute;
    background: #156037;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    transition: all 0.3s;}
    .gnb>li:nth-child(1)>a:first-child:hover::after,
    .gnb>li:nth-child(3)>a:first-child:hover::after {
        width: 60%;
    }
/*페이지1*/
#sec01{
    background:#d8e4de;
}
h4{
    position:relative;
    right:0;
}
h4 img{
    height:825px;
    opacity:0.6;
    position: absolute;
    right:0;
}
#page01{position:relative;}
.main_title{
    text-align:center;
    line-height:2;
    padding-top:100px;
}
.main_title>dd{
    font-size:45px;
}
.main_title>dt img{
    width:380px;
    height:45px;
}
#images>ul{
    position:relative;
    background:white;
    width:210px;
}
#images>ul>li:nth-child(1) img{
    width:210px;
    height:210px;
}
#images>ul>li:nth-child(2){
    position:absolute;
    left:95px;
    top:200px;
}
#images>ul>li:nth-child(3){
    font-size:1.3rem;
    font-weight:bold;
    line-height:1.5;
    text-align:center;
    padding:30px 30px;
}
#images{
    width:1200px;
    height:550px;
    padding-top:40px;
}
#images>ul{
    float:left;
}
.img02,.img04{
    margin:150px 37.5px 0 37.5px;
}
/*페이지2*/
h3{
    font-size:45px;
    text-align:center;
    padding:70px 0;
}
h3 span:nth-child(1){
    font-family: '양진체';
    color:#156037;
    font-size:60px;
}
#sec02{
    height:800px;
}
#page02{
    width:1200px;
    height:500px;
}
#page02>dl>dt,
#page02>dl>dd{
    text-align:center;
}
#page02>dl>dd{
    padding-top:50px;
    line-height:1.5;
}
#page02>dl>dt img{
    width:300px;
}
#page03_01,
#page03_02{
    width:390px;
    height:300px;
    display:flex;
	flex-flow:row wrap;
    justify-content:space-around;
}
#page03_01>ul,
#page03_02>ul{
    width:100px;
    position:relative;
    text-align:center;
}
#page03_01>ul>li:nth-child(2),
#page03_02>ul>li:nth-child(2){
    background:#156037;
    border-radius:100%;
    width:5px;
    height:5px;
    position:absolute;
    left:50px;
    top:85px;
}
#page03{
    position:relative;
    top:-320px;
}
#page03_01{
    position:absolute;
    left:0;
} 
#page03_02{
    position:absolute;
    right:0;
}
#page02_1{
    position:relative;
}
#page02_1>ul>li{
    background:#c7de76;
    border-radius: 100%;
    width:150px;
    height:105px;
    text-align:center;
    padding-top:45px;
    line-height:1.6;
    font-weight:bold;
    font-size:1.2rem;
    position:absolute;
}
#page02_1>ul>li:first-child{
    left:115px;
    top:-20px;
}
#page02_1>ul>li:last-child{
    right:115px;
    top:-20px;
}
/*페이지3*/
#sec03{
    background:#d8e4de;
    height:700px;
}
#sec03>div{
    display:flex;
	flex-flow:row wrap;
    justify-content:space-between;
}
#sec03>div>ul{
    width:515px;
}
#sec03>div>ul>li{
    line-height:2;
    text-align:center;
}
#sec03>div>ul>li:nth-child(2){
    color:#156037;
    font-weight:bold;
    font-size:2rem;
}
#sec03>div>ul>li:nth-child(3){
    font-weight:bold;
    font-size:1.5rem;
}
#sec03>div>ul:nth-child(1)>li:nth-child(4),
#sec03>div>ul:nth-child(2)>li:nth-child(4){
    width:250.5px;
    background:#e7edef;
    float:left;
    color:#7b7877;
    font-weight:bold;
    border:#c7c7c7 solid 1px;
    border-radius:10px;
    margin:10px 7px 0 0;
    padding:5px 0;
    box-sizing:border-box;
}
#sec03>div>ul:nth-child(1)>li:nth-child(5),
#sec03>div>ul:nth-child(2)>li:nth-child(5){
    width:250.5px;
    background:#e7edef;
    float:left;
    color:#7b7877;
    font-weight:bold;
    border:#c7c7c7 solid 1px;
    border-radius:10px;
    margin:10px 0 0 7px;
    padding:5px 0;
    box-sizing:border-box;
}
/*푸터영역*/
footer{
    background:#d7d7d7;
    height:100px;
}
footer>.wrap{
    position:relative;
    padding:0;
}
footer>div>.logo{
    float:left;
    margin-top:40px;
  }
footer>div>address{
    position:absolute;
    left:300px;
    top:30px;
}
footer>div>address>p{
    line-height:25px;
    font-size:1.2rem;
    color:#5d5d5d;
}
footer>div>.ft_01{
    float:right;
    margin-top:30px;
}
footer>div>.ft_01>li{
    padding:5px;
}
footer>div>.ft_01>li:nth-child(1){
    text-align:right;
}
footer>div>.ft_01>li:nth-child(2){
    font-size:1.2rem;
    color:#5d5d5d;
}
footer>div>.ft_01>li>a{
    font-size:1.5rem;
    font-weight:bold;
    color:#5d5d5d;
}

@media all and (max-width:1024px){
    /*가로사이즈가 1024px 이하 :: MOBILE모드*/
    html{min-width: 100px;}
    body {
        width:1024px;
      }
      .wrap {
        width: 740px;
      }
      /*모바일 헤더영역 */
      #header {
        display: none;
      }
      #util,
      .gnb {
        display: none;
      }
    
      #menu {
        display: none;
      }
    
      #m_header {
        display: block;
        width: 100%;        margin: 0 auto;
        box-sizing: border-box;
        height: 100px;
        z-index: 99999;
        position: fixed;
        background: #fff;
        right:0;
      }
      #m_logo {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
        text-align: center;
      }
    
      #m_logo img {
        width: 180px;
      }
    
      input[id="m_btn"] {
        display: none;
      }
    
      input[id="m_btn"] + label {
        display: block;
        width: 60px;
        height: 40px;
        cursor: pointer;
        position: relative;
        z-index: 2;
        float: right;
        right: 5%;
        top: 30%;
      }
    
      input[id="m_btn"] + label > span {
        display: block;
        height: 7px;
        width: 100%;
        border-radius: 30px;
        background: black;
        position: absolute;
      }
    
      input[id="m_btn"] + label > span:nth-child(1) {
        top: 0;
      }
    
      input[id="m_btn"] + label > span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
    
      input[id="m_btn"] + label > span:nth-child(3) {
        bottom: 0;
      }
      #m_popup {
        visibility: hidden;
        width: 0;
        height: 0;
        overflow: hidden;
        text-indent: -9999px;
      }
      .m_gnb {
        width: 90%;
        margin-bottom: 30px;
      }
      .m_gnb > li > a {
        display: block;
        color: #f2f2f2;
        font-size: 3rem;
        line-height: 1.8;
      }
      .m_gnb > li:last-child {
        border-bottom: 3px solid #156037;
        padding-bottom: 30px;
      }
    
      .m_util {
        width: 90%;
      }
      .m_util > li > a {
        display: block;
        color: #f2f2f2;
        font-size: 2rem;
        line-height: 2;
      }
    
      .m_gnb > li > a:hover,
      .m_util > li > a:hover {
        font-weight: bold;
        color: #156037;
      }
    
      input[id="m_btn"]:checked + label > span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transition: all 0.4s;
        background: #fff;
      }
    
      input[id="m_btn"]:checked + label > span:nth-child(2) {
        display: none;
      }
    
      input[id="m_btn"]:checked + label > span:nth-child(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
        transition: all 0.4s;
        background: #fff;
      }
    
      input[id="m_btn"]:checked ~ #m_popup {
        visibility: visible;
        width: 50%;
        height: 100%;
    
        overflow: hidden;
        text-indent: 0;
        right: 0;
        background: #000;
        transition: all 0.4s;
        position: fixed;
        padding: 60px 25px 25px 25px;
        box-sizing: border-box;
        top: 0;
        right: 0;
        z-index: 1;
      }

    .wrap{width:740px;}
    /*페이지1 Mver*/
    #sec01>div>h4 img{
        height:1045px;
        padding-top: 100px;;
    }
    .main_title{
        position:relative;
        width:740px;
        padding-top:0;
    }
    .main_title>dd{
        height:150px;
    }
    .main_title>dd span{
        position:absolute;
        top:110px;
        left:37%;
    }
    #images{
        width:740px;
        height:730px;
        margin:0 auto;
        padding-top:20px;
    }
    .img02{
        margin:0 37.5px 0 37.5px;
    }
    .img04{
        margin:37.5px 37.5px 0 141.2px;
    }
    .img05{
        margin-top:37.5px;
    }
    .img01{
        margin-left:17.5px;
    }
    #page01{
        padding-top:200px;
    }


    /*페이지2 Mver*/
    #sec02{
        width:100%;
        height:1240px;
    }
    #page02{
        width:740px;
    }
    #page02>h3{
        width:740px;
        height:110px;
        padding:60px 0;
        position: relative;
    }
    #page02>h3 span:last-child{
        position:absolute;
        top: 130px;
        left:17%;
        margin-bottom:40px;
    }    
    #page02>dl>dt img{
        width:250px;
    }
    #page03{
        position:relative;
        top:110px;
    }
    #page03_01>ul{
        float:left;
    }
    #page03_01,#page03_02{
        width:740px;
    }
    #page03_02{
        position:absolute;
        top:150px;
    }
    #page02>dl>dd{
        padding-top:535px;
    }
    #page02_1{
        position: relative;
        top:37%;
    }
    #page02_1>ul>li:first-child{
        left:150px;
        top:-20px;
    }
    #page02_1>ul>li:last-child{
        right:150px;
        top:-20px;
    }
    /*페이지3 Mver*/
    #sec03{
        height:1230px;
    }
    #sec03>div>ul{
        width:100%;
    }
    #sec03>h3{
        width:740px;
        margin:0 auto;
        padding:60px 0;
    }
    #sec03>div>ul>li:nth-child(2){
        margin-top:15px;
    }
    #sec03>div>ul>li:nth-child(3){
        margin-bottom:15px;
    }
    #sec03>div>ul:nth-child(1)>li:nth-child(4),
    #sec03>div>ul:nth-child(2)>li:nth-child(4){
        width:34%;
        background:#e7edef;
        float:left;
        color:#7b7877;
        font-weight:bold;
        border:#c7c7c7 solid 1px;
        border-radius:10px;
        margin:10px 7px 30px 111px;
        padding:5px 0;
        box-sizing:border-box;
    }
    #sec03>div>ul:nth-child(1)>li:nth-child(5),
    #sec03>div>ul:nth-child(2)>li:nth-child(5){
        width:34%;
        background:#e7edef;
        float:left;
        color:#7b7877;
        font-weight:bold;
        border:#c7c7c7 solid 1px;
        border-radius:10px;
        margin:10px 0 30px 7px;
        padding:5px 0;
        box-sizing:border-box;
    }

    /*기타*/
.up_button {
    width: 40px;
    height: 40px;
    background-image: url("../images/brand_main/up_button.svg");
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
  }
    
    /*모바일 푸터*/

footer{
    width:1024px; height:100px; margin:0 auto;
  }
  footer div.wrap {width:740px; height:100px;
    position:relative;
    padding:0;
  
  }
  
  footer>div>.logo{
    position: absolute; left:0; top:50%; transform: translateY(-50%); width:250px; height:30px; line-height: 30px; text-align: center; margin: 0;
  }
  footer>div>.logo img{width:244px; height:25px; vertical-align: middle;}
  footer>div>address{ 
    text-align: left;
    position:absolute;
    
    top:15px;
    left:35%;
  }
  footer>div>address>p{
    
    font-size:1rem;
    color:#5d5d5d;
  }
  footer>div>.ft_01{
    text-align: left;
    width:450px;
    margin:0;
    
   position: absolute;
   top:70px;
   left:35%;
   display: flex;
    flex-flow: row wrap; 
   justify-content:space-between;
   align-items:flex-end;
  }
  footer>div>.ft_01>li{ display: block; padding:0; height:20px; line-height: 20px; }
  footer>div>.ft_01>li:first-child{width:135px;  text-align: left; }
  footer>div>.ft_01>li:last-child{width:315px; text-align: right; }
  footer>div>.ft_01>li:nth-child(2){
    font-size:1rem;
  }
  footer>div>.ft_01>li>a{
    font-size:1.4rem;
  }
}