@charset "utf-8";
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*font-famliy: 'Noto Sans KR', sans-serif;*/

/*RESET CSS*/
html{font-family: 'Noto Sans KR', sans-serif; font-size:14px;}
*{margin: 0; padding: 0;}
ul,li{text-decoration: none;}
img{vertical-align:top;}
a{text-decoration:none;}
a,a:link,a:visited,a:hover,a:active{color:#000000;}
body h2{
    display:none;
    visibility:hidden;
    width:0; height:0;
    overflow:hidden;
    text-indent:-9999px;
}
@media all and (min-width:1021px){
/*헤더영역*/
#wrap{
    width: 1920px;
    margin: 0 auto;
}
header{
    width: 100%; height: 1080px;
    margin: 0 auto;
    overflow: hidden;
    background:url('../images/business/main/banner.jpg') no-repeat left top;
}

.util{
    width: 100%; height: 100px;
    background: rgba(0,0,0,0.2);
    border-bottom: 2px solid rgba(0,0,0,0.2);
    position: relative;
}
#logo{
    width: 150px; height: 40px;
    position: absolute;
    top: 50%; left: 80px;
    transform: translateY(-50%);
}
#logo>a{
    display: block;
    background: url('../images/business/main/logo.png') no-repeat;
    width: 100%; height: 100%;
    overflow: hidden;
    text-indent: -999px;
}
#gnb{
    width: 1280px;
    margin: 0 auto;
    position: absolute;
    left: 50%; bottom: 0px;
    transform: translateX(-50%);
}
.main_menu{display: block !important;}

.main_menu>li{
    width: 160px; height: 50px;
    float: left;
    position: relative;
    text-align: center;
}

.main_menu::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}

.main_menu>li>a{
    display: inline-block;
    width: 160px; height: 100%;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2.5;
    color: #fff;
    letter-spacing: 3px;
}
.main_menu>li:hover{
    border-bottom: 3px solid #e21129;
    box-sizing: border-box;
}
.main_menu>li:hover>a{
    color: #e21129;
}
.sub1{
    display: none;
    height: 350px;
    position: absolute;
    background: rgba(0,0,0,0.2);
    z-index: 99;
    top: 50px;
}
.sub1>li:hover{
    background: rgba(0,0,0,0.8);
}
.sub1>li>a{
    display: block;
    width: 160px; height: 50px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2.5;
    color: #f1f1f1;
}

.main_menu>li:nth-child(2)>ul>li:nth-child(2)>ul{
    display: none;
}
.main_menu>li:nth-child(2)>ul>li:nth-child(3)>ul{
    display: none;
}
.sub2>li:hover{
    background: #ddd;
}
.sub2>li>a{
    display: block;
    width: 160px; height: 50px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2.5;
    color: #fff;
}
.sub2>li>a:hover{
    color: #000;
}
/*배너영역*/

#banner{
    width: 100%;
    position: relative;
}
#banner{
    width: 1000px; height: 160px;
    background: rgba(0,0,0,0.2);
    text-align: right;
    position: absolute;
    top:70%;
}
#banner>h3{
    font-size: 6rem;
    font-weight: 700;
    color: #fff;
    margin-right: 60px;
}
#banner>h4{
    font-size: 3.3rem;
    font-weight: 700;
    color: #fff;
    margin-right: 20px;
    line-height: 1.6;
}
.line_logo{
    width: 100%;
    text-align: center;
    margin: 80px auto;
}

/*product*/

.line{
    width: 60px; height: 5px;
    background: #26562e;
    margin: 80px auto;
}

#product{
    width: 100%; height: 640px;
    position: relative;
}
#product>h3{
    width: 200px;
    text-align: right;
    padding-bottom: 10px;
    border-bottom: 5px solid #333;
    font-size: 3rem;
    position: absolute;
    right: 60px;
    font-weight: 700;
}
.info{
    width: 1060px; height: 420px;
    display: flex;
    position: absolute;
    top: 55%; right: 20%;
    transform: translateY(-50%);
    
    padding-top: 40px;
}
.info>div:nth-child(1){
    width: 640px; height: 440px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
}

.info>div:nth-child(1)>img{
    width: 600px; margin: 30px 20px 0;

}
.info>div:nth-child(2){
    width: 380px; height: 420px;
    margin: 20px 0 0 40px;
    position: relative;
}



.info>div:nth-child(2)>h4{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom:40px;
}
.info>div:nth-child(2)>h3{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 30px;
}
.info>div:nth-child(2)>p{
    line-height: 1.2;
    margin-bottom: 25px;
}
.info>div:nth-child(2)>h5>a{
    display: block;
    width: 120px; height: 40px;
    background: #333;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0; right: 20px;
}




/*brand*/
#brand{
    width: 1920px; height: 660px;
}
#brand>h3{
    display: inline-block;
    width: 200px; height: 60px;
    margin-left: 60px;
    font-size: 3rem;
    font-weight: 700;
    border-bottom: 5px solid #333;
}
.slideWrap{
    width: 100%; height: 600px;
    position: relative;
}
.slideWrap>li>a{
    display: block;
    width: 320px; height: 400px;
}
.slideWrap>li>a img{
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}
.slideWrap>li>a img:hover{
    box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
}

.slideWrap>li:nth-child(1)>a{
    position: absolute;
    top: 15%; left: 10%;
}
.slideWrap>li:nth-child(2)>a{
    position: absolute;
    top: 20%; left: 30%;
}

.slideWrap>li:nth-child(3)>a{
    position: absolute;
    top: 15%; left: 50%;
}

.slideWrap>li:nth-child(4)>a{
    position: absolute;
    top: 20%; left: 70%;
}

.l_btn, .r_btn{display: none;}

/*story*/
#story{
    width: 1920px; height: 620px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.news{
    width: 600px; height: 560px;
    margin-top: 30px;
    margin-left: 120px;
}
.news>h3, .video>h3{
    font-size: 2rem;
    border-bottom: 2px solid #333;
    line-height: 2;
    font-weight: 700;
}
.news>ul{
    margin: 10px auto;
    border-bottom: 1px solid #666;
}
.news>ul>li{
    font-size: 1.2rem;
    line-height: 1.3;
    margin-bottom: 10px;
}
.news>ul>li>a{color: #666;}
.news>p{
    text-align:right;
    margin: 30px 5px 0 0;
}

.video{
    width: 940px; height: 560px;
    margin-top: 30px;
    margin-right: 120px;
}
.video>div{
    width: 90%; height: 80%;
    margin: 30px auto;
    background: #000;
}

/*footer*/

footer{
    width: 100%; height: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: #ddd;
}

footer>div{
    width: 480px; height: 100%;
    position: relative;
}
footer>div>img{
    position: absolute;
    top:20px; left: 170px;
    transform: scale(1.2);
}

footer>address{
    width: 880px; height: 100%;
}
footer>address>p{
    margin-top: 13px;
}
footer>address>p:first-child{
    margin-top: 20px;
}
footer>p{
    width: 540px; height: 100%;
    line-height: 80px;
}
}

@media all and (max-width:1020px){
    header{
        width: 1020px; height: 560px;
        background: url('../images/business/main/banner.jpg') no-repeat center top/1020px 560px;

    }
    .util{
        width: 100%; height: 100px;
        position: fixed;
        background: #000;
        z-index: 9999;
    }
    #logo{
        width: 65px; height: 65px;
        position: absolute;
        top: 15px; left: 50%;
        transform: translateX(-50%);
    }
    #logo>a{
        display: block;
        background: url('../images/business/main/m_logo.png') no-repeat;
        width: 100%; height: 100%;
        overflow: hidden;
        text-indent: -999px;
    }
    .main_menu{
        display: none;
        position: absolute;
        top: 100px; right: 0;
        width: 50%;
        margin-top: 0px;
        background: #000;
        text-align: right;
    }
    .main_menu>li>a{
        display: block;
        margin: 0 auto;
        width: 50%;
        padding: 15px 0;
        font-size: 2rem;
        color: #fff;
        box-sizing: border-box;
        text-align: center;
    }
    .sub1>li>a{
        display: block;
        width: 100%;
        font-size: 1.5rem;
        color: #000;
        box-sizing: border-box;
        text-align: center;
        padding: 10px 0;
        background: #fff;
    }
    .sub2>li>a{
        display: block;
        width: 100%;
        color: #fff;
        font-size: 1.2rem;
        box-sizing: border-box;
        text-align: center;
        padding: 10px 0;
        background: #333;
    }
    .sub1, .sub2{display: none;}
    #menu{
        display:block;
        width:40px;
        margin-left:10px;
        position: absolute;
        top: 30px; right: 40px;
    }
    #menu>span{
        width: 100%;
        height: 8px;
        background: #fff;
        display: block;
    } 
    #menu>span:nth-child(2){margin: 7px 0;}
    .aniMenu{
        position: relative;
        width: 100%;
        z-index: 99;
    }
    .aniMenu::before{
        content: '';
        display: block;
        background: aliceblue;
        width: 40px; height: 4px;
        transform: rotate(-45deg);
        position: absolute;
        top: 12px;
    }
    .aniMenu::after{
        content: '';
        display: block;
        background: aliceblue;
        width: 40px; height: 4px;
        transform: rotate(45deg);
        position: absolute;
        top: 12px;
    }
    
    #menu.aniMenu>span{
        background: transparent;
        transition: all .3s;
    }

    /*배너영역*/

    #banner{
        width: 100%; height: 1080px;
        position: relative;
    }
    #banner{
        width: 500px; height: 80px;
        background: rgba(0,0,0,0.2);
        text-align: right;
        position: absolute;
        top:37%;
    }
    #banner>h3{
        font-size: 3rem;
        font-weight: 700;
        color: #fff;
        margin-right: 30px;
    }
    #banner>h4{
        font-size: 1.5rem;
        font-weight: 700;
        color: #fff;
        margin-right: 20px;
        line-height: 1.6;
    }
    .line_logo{
        width: 100%;
        text-align: center;
        margin: 80px auto;
    }
    
    /*product*/

    .line{
        width: 60px; height: 5px;
        background: #26562e;
        margin: 80px auto;
    }

    #product{
        width: 100%; height: 540px;
        position: relative;
    }
    #product>h3{
        width: 200px;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 5px solid #333;
        font-size: 3rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 700;
    }
    .info{
        width: 840px; height: 400px;
        display: flex;
        position: absolute;
        left: 50%; top: 100px;
        transform: translateX(-50%);
        box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
    }

    .info>div:nth-child(1)>img{
        width: 400px; margin: 40px 30px 0;
    }
    .info>div:nth-child(2){
        width: 320px; margin: 40px 30px 0;
    }
    .info>div:nth-child(2)>h4{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .info>div:nth-child(2)>h3{
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .info>div:nth-child(2)>p{
        line-height: 1.2;
        margin-bottom: 10px;
    }
    .info>div:nth-child(2)>h5>a{
        display: block;
        width: 120px; height: 40px;
        background: #333;
        text-align: center;
        line-height: 40px;
        color: #fff;
        font-size: 1.2rem;
        margin: 30px 0 0 180px;
}
    
    
    
    
    /*brand*/
    #brand{
        width: 100%; height: 660px;
        position: relative;
        text-align: center;
    }
    #brand>h3{
        display: inline-block;
        width: 200px; height: 60px;
        font-size: 2.5rem;
        font-weight: bold;
        border-bottom: 5px solid #333
    }
    .slideWrap{
        width: 100%; height: 600px;
        position: relative;
    }
    .slideWrap>li>a{
        display: block;
    }
    
    .slideWrap>li:nth-child(1)>a{
        position: absolute;
        width: 256px; height: 320px;
        left: 50%; top: 35%;
        transform: translateX(-50%);
        z-index: 999;
    }
    .slideWrap>li:nth-child(1)>a img{
        width: 100%;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    }
    .slideWrap>li:nth-child(2)>a{
        width: 224px; height: 280px;
        position: absolute;
        left: 10%; top: 20%;
        z-index: 99;
    }
    .slideWrap>li:nth-child(2)>a img{
        width: 100%;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    }
    .slideWrap>li:nth-child(3)>a{
        width: 192px; height: 240px;
        position: absolute;
        left: 50%; top: 10%;
        transform: translateX(-50%);
    }
    .slideWrap>li:nth-child(3)>a img{
        width: 100%;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    }
    .slideWrap>li:nth-child(4)>a{
        width: 224px; height: 280px;
        position: absolute;
        right: 10%; top: 20%;
        z-index: 99;
    }
    .slideWrap>li:nth-child(4)>a img{
        width: 100%;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    }

    .l_btn{
        width: 60px; height: 60px;
        position: absolute;
        bottom: 20px; left: 30px;
    }
    .r_btn{
        width: 60px; height: 60px;
        position: absolute;
        bottom: 20px; right: 30px;
    }
    
    /*story*/
    #story{
        width: 1020px; height: 420px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .news{
        width: 360px; height: 360px;
        margin-top: 30px;
        margin-left: 40px;
    }
    .news>h3, .video>h3{
        font-size: 2rem;
        border-bottom: 2px solid #333;
        line-height: 2;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .news>ul{
        margin: 0;
        border-bottom: 1px solid #666;
    }
    .news>ul>li{
        font-size: 14px;
        margin: 5px 0;
    }
    .news>ul>li:first-child{
        display:block;
        width:100%;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }
    .news>ul>li>a{color: #666;}
    .news>p{
        text-align:right;
        margin: 10px 5px 0 0;
    }
    
    .video{
        width: 560px; height: 340px;
        margin-top: 30px;
        margin-right: 40px;
    }
    .video>div{
        width: 90%; height: 80%;
        margin: 20px auto;
        background: #000;
    }
    .video>div>video{width: 100%;}
    
    /*footer*/
    
    footer{
        width: 1020px; height: 100px;
        background: #ddd;
        position: relative;
    }
    
    footer>div{
        width: 150px; height: 60px;
        position: absolute;
        top: 25px; left: 6%;
    }
    footer>div>img{
        top:20px; left: 0px;
        transform: scale(0.8);
    }
    
    footer>address{
        position: absolute;
        left: 30%;
        width: 600px; height: 60px;
        color: #666;
    }
    footer>address>p{
        margin-top: 5px;
    }
    footer>address>p:first-child{
        margin-top: 20px;
    }
    footer>p{
        position: absolute;
        bottom: 10px; left: 30%;
        width: 470px; height: 60px;
        line-height: 80px;
        color: #666;
    }

























}








