@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');
@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*font-family: 'Noto Sans KR', sans-serif;*/
/*font-family: '양진체'*/
#sec01_wrap>h3{margin-top:30px;}
html{width:100%;height:100%;margin:0 atuo;font-size:12px; font-family: 'Noto Sans KR', sans-serif;}
img{vertical-align:top;}
a{text-decoration:none;}
a,a:link,a:visited,a:hover,a:active{color:#333;}


.wrap{
    padding:50px 0;
    width:800px;
	margin:0 auto;

}
div.logo_wrap{text-align:center;margin:0 auot;}
.logo{width:280px; display: block; margin: 0px auto; }
#sec01_wrap>h2{
    padding:30px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

#sec01_wrap>h3,#sec02_wrap>h3{
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    width:650px;
}

#sec01_wrap hr,#sec02_wrap hr{
    border: 0;
    background:#156037;
    width: 100%;
    height: 3px;
    margin:10px 0 30px 0;
}

#sec02_wrap>h3{margin-top:100px;}


.userInput{

    margin:10px 0;width:100%;}

.int,#phone_select{
    display: inline-block;
    position: relative;
    width:200px;
    height:30px;
    border: solid 1px #dadada;
    padding-right: 25px;
    line-height:30px;
    background: #fff;
    box-sizing: border-box;

 }
#phone_select{width:75px;}
#phoneNum{width:123px;}
a.list{
    color:#fff;
    margin:0 10px;
background-color: #156037;
    text-align:left;
    padding:0 15px;
 height:30px;line-height:30px;
    display:inline-block;width:100px;}




.int_id>select{height:30px;width:60px;}
.adress_input{height:50px;}

#mail_Select{
    display: inline-block;
    position: relative;
    width: 180px;
    height: 30px;
    border: solid 1px #dadada;
    padding-right: 25px;
    line-height: 30px;
    background: #fff;
    box-sizing: border-box;
}
.postwrap{
    position:relative;
    top:-119px;
    left:153px;}
.postwrap input{ margin-top:10px; padding-left:10px;font-size:1.2rem;}
.address_list{height:110px !important;}

.j2_agr {
    height:80px;
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid #ccc;
    padding:30px;
}
.j2_alck {
    font-size:1.5rem;
    font-weight:500;

}
.j2_agr_wrap>h4 {
    margin:10px 0;
    font-weight: 400;
    font-size:1.2rem;
}
.j2_agr_wrap{padding:10px;}
.btn{margin:0 atuo;width:100%;}
.logbtn{
    display: block;
    width:150px;
    height: 50px;
    border: none;
    background:#156037;
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    font-size:1.5rem;
    font-weight: 800;
    margin:0 auto;
}
@media all and (max-width:1024px) {
	.wrap{
        width:740px;
        margin:0 auto;
    }
    #sec01_wrap>h3,#sec01_wrap>span{display:none;}
#sec01_wrap> hr{width:100%;}

.list{
    display:block;
    font-size: 1.8rem;
   
}


#sec02_wrap>h3,#sec02_wrap>span,#sec02_wrap>hr{display:none;}
.j2_agr{display:none;}
#sec01_wrap{
    display:block;
 }

.form_wrap{width:100%;display:block;margin:0 auto;}
.userInput>.list{
    display:block;
    width:80%;
    background-color: #fff;
    color:black;
    padding-bottom:10px;
}
.int_id input{
    
    font-size: 1.5rem;
    width:700px;height:50px;}



#phone_select{
    padding-left:10px;
    height:50px;
    font-size: 1.5rem;
    width:200px; 
  
}
#phoneNum{width:490px;}
div .userInput{text-align: center;}
#email{width:480px;height:50px;}
#emailBox>span{font-size:1.5rem;}
#mail_Select{padding-left:10px;height:50px;font-size:1.5rem;}

#sec02_wrap{

    border: 1px solid #ccc;width:640px;margin:0 auto;padding:20px;}
    #sec02_wrap{margin-top:265px;}
.postwrap{
    position: relative;
    width:700px;
    }

.j2_agr_wrap{font-size: 1.8rem;}
.btn{margin:50px auto;}
.logbtn{width:700px;font-size:1.8rem;}

/*adress*/
#sample6_postcode{
    position:absolute;
    top:30px;
    left:-130px;
        width:480px;height:50px;}
#post_btn{
    position:absolute;
    top:30px;
    left:380px;
    width:120px;height:50px;
}
#sample6_address{
    position:absolute;
    top:90px;
    left:-130px;
    width:690px;height:50px;
}
#sample6_extraAddress{
    position:absolute;
    top:150px;
    left:-130px;
    width:690px;height:50px;    
}
#sample6_detailAddress{
    position:absolute;
    top:210px;
    left:-130px;
    width:690px;height:50px;    
}



.j2_agr_wrap label{font-size:1.2rem;}
.j2_agr_wrap h4{font-size:1.4rem;}


}