@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');
@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*font-family: 'Noto Sans KR', sans-serif;*/
/*font-family: '양진체'*/

html{width:100%;height:100%;margin:0 atuo;font-size:12px; font-family: 'Noto Sans KR', sans-serif;}
img{vertical-align:top;}
a{text-decoration:none;}
a,a:link,a:visited,a:hover,a:active{color:#333;}


.wrap{
    padding:50px 0;
    width:800px;
	margin:0 auto;

}
div.logo_wrap{text-align:center;margin:0 auto;}
.logo{width:280px; display: block; margin: 0px auto; }
#sec01_wrap>h2{
    padding:30px 0;
    text-align:center;
    font-size:30px;
    font-weight:700;
}
#sec01_wrap>h3{margin-top:30px;}
#sec01_wrap>h3,#sec02_wrap>h3{
    font-weight:500;
    font-size:20px;
    display:inline-block;
    width:650px;
}
#sec01_wrap hr,#sec02_wrap hr{
    border:0;
    background:#156037;
    width:100%;
    height:3px;
    margin:10px 0 30px 0;
}
#sec02_wrap>h3{margin-top:100px;}


.form_input{margin:10px 0;width:100%;}

.int,#phone_select{
    display:inline-block;
    position:relative;
    width:200px;
    height:30px;
    border:solid 1px #dadada;
    padding-right:25px;
    line-height:30px;
    background:#fff;
    box-sizing:border-box;

 }
#phone_select{width:75px;}
#phoneNum{width:123px;}
a.list{
    color:#fff;
    margin:0 10px;
    background-color:#156037;
    text-align:left;
    padding:0 15px;
    height:30px;
    line-height:30px;
    display:inline-block;width:100px;

}
.adress_input{height:50px;}

#mail_Select{
    display:inline-block;
    position:relative;
    width:180px;
    height:30px;
    border:solid 1px #dadada;
    padding-right:25px;
    line-height:30px;
    background:#fff;
    box-sizing:border-box;
}
.postwrap{
    position:relative;
    top:-119px;
    left:153px;
}
.postwrap input{
    margin-top:10px;
    height:30px;
}
#post_btn{
    height:29px;margin-top:10px;
}
.address_list{height:110px !important;}

.j2_agr {
    height:80px;
    overflow:scroll;
    overflow-x:hidden;
    border:1px solid #ccc;
    padding:30px;
}
.j2_alck {
    font-size:1.5rem;
    font-weight:500;

}
.j2_agr_wrap>h4 {
    margin:10px 0;
    font-weight:400;
    font-size:1.2rem;
}
.j2_agr_wrap{padding:10px;}
.btn{margin:10px atuo 0;width:100%;}
.logbtn{
    display:block;
    width:150px;
    height:50px;
    border:none;
    background:#156037;
    background-size:200%;
    color:#fff;
    outline:none;
    cursor:pointer;
    font-size:1.5rem;
    font-weight:800;
    margin:0 auto;
}
.j2_agr_wrap>h4>span{color:#ccc;}

.j2_agr_wrap h4{display:inline-block}
.agr_chk_wrap{display:block;}
.j2_agr_wrap h4 span{color:red;}


.popup_wrap{display:none;}
.detail{display:none;}

#sample6_address{position:relative;}
#sample6_extraAddress{position:absolute;left:203px;top:41px;}
#sample6_detailAddress{display:block;}
@media all and (max-width:1024px) {
.wrap{
    width:740px;
    margin:0 auto;
}
#sec01_wrap>h3,#sec01_wrap>span{display:none;}
#sec01_wrap>hr{width:100%;}
#sec01_wrap{display:block;}
.form_wrap{width:100%;display:block;margin:0 auto;}
.list{
    display:block;
    font-size: 1.8rem;
}

.int{font-size:1.3rem;padding-left:10px;}
#sec02_wrap>h3,#sec02_wrap>span,#sec02_wrap>hr{display:none;}
.j2_agr{display:none;}

.form_input>.list{
    display:block;
    width:80%;
    background-color:#fff;
    color:black;
    padding-bottom:10px;
}
.postwrap{font-size:}
.int_id input{ width:700px;height:50px;}
.int_id{font-size: 1.3rem;}

.emailInt{font-size:1.5rem;}
#phone_select{
    padding-left:5px;
    height:50px;
    width:205px; 
    font-size:1.3rem;
}
#phoneNum{width:490px;}
.form_input{text-align:center;}
#email{width:480px;height:50px;font-size:1.3rem;}
#emailBox>span{font-size:1.5rem;}
#mail_Select{height:50px;font-size:1.3rem;}

#sec02_wrap{
    border: 1px solid #ccc;
    width:658px;
    margin:0 auto;
    padding:20px;
}
#sec02_wrap{margin-top:265px;}
.postwrap{
    position: relative;
    width:700px;
}

.j2_agr_wrap{font-size: 1.8rem;}
.btn{margin:50px auto;}
.logbtn{width:700px;font-size:1.8rem;}

/*adress*/
#sample6_postcode{
    position:absolute;
    top:30px;
    left:-130px;
    width:480px;
    height:50px;
}
#post_btn{
    position:absolute;
    top:30px;
    left:380px;
    width:120px;height:50px;
}
#sample6_address{
    position:absolute;
    top:90px;
    left:-130px;
    width:690px;height:50px;
}
#sample6_extraAddress{
    position:absolute;
    top:150px;
    left:-130px;
    width:690px;height:50px;    
}
#sample6_detailAddress{
    position:absolute;
    top:210px;
    left:-130px;
    width:690px;height:50px;    
}

.j2_agr_wrap label{font-size:1.2rem;}
.j2_agr_wrap h4{font-size:1.4rem;}
.j2_agr_wrap

/*팝업창*/
.popup_black{
	display:none;
	position:fixed;
	left:0; top:0;
	width:100%; height:100%;
	background-color:rgba(0,0,0,0.6);
	z-index:999;
}
.popup_wrap{
	display:none;
	position:fixed;
	left:50%; top:50%;
	transform:translate(-50%, -50%);
	width:400px; height:350px;
	background:rgba(235, 235, 235, 1);
	z-index:9999;
	overflow:scroll;
	text-align:center;
    overflow-x:hidden;
}
.popup_wrap h3{
	margin:20px 0;
	color:#000;
	font-size:22px;
}
.pop_line{border-bottom:1px solid #ffffff;}
.close_btn{	
    position:absolute;
    left:330px; top:8px;
    display:inline;
    cursor:pointer;
}
.detail{cursor:pointer;}
.popup_wrap>p{
    margin:10px 30px;
    font-size:1.2rem;
    line-height:1.5;
    text-align: left;
}
.popup_black2{
	display:none;
	position:fixed;
	left:0; top:0;
	width:100%; height:100%;
	background-color:rgba(0,0,0,0.6);
	z-index:9999;
}
.popup_wrap2{
	display:none;
	position:fixed;
	left:50%; top:50%;
	transform:translate(-50%, -50%);
	width:400px; height:350px;
	background:#fff;
	z-index:999999;
	text-align:center;
}
.popup_wrap2 h3{
	margin:20px 0;
	color:#000;
	font-size:22px;
}
.popup_wrap2 p{
	margin:30px 0;
	color:#000;
	font-size:20px;
}
.pop_line2{border-bottom:1px solid #e1e1e1;}
.close_btn4{
    display:inline-block;
	background:#156037;
	margin:20px 10px;
	width:150px; height:50px;
	outline:0;
	border-radius:50px;
	text-align:center;
	line-height:50px;
	color:#fff;
	cursor:pointer;
}
.close_btn3{	
    display:inline-block;
    background:#666;
	margin:20px auto;
	width:150px; height:50px;
	outline:0;
	border-radius:50px;
	text-align:center;
	line-height:50px;
	color:#fff;
	cursor:pointer;
}
.list span{color:red;}
.popup_wrap{visibility:visible;}
.detail{font-size:1rem;display:inline-block;}

}