@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');
@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'Noto Sans KR', sans-serif;*/
/*font-family: '양진체'*/
html{font-size:12px; font-family: 'Noto Sans KR', sans-serif; min-width: 1700px;}
img{vertical-align:top;}
a{text-decoration:none;}
a,a:link,a:visited,a:hover,a:active{color:#333;}

.wrap{width:1200px; margin:0 auto; padding:0;}

h2{
    display: none;
    visibility: hidden;
    width: 0; height: 0;
    overflow: hidden;
    text-indent: -9999px;
}
h3{text-align: center; 
    font-size: 2.8rem;
    font-weight:700;
    margin-top: 100px;
}
/*헤더영역*/
#header{
    width:85%;
    height:200px;
    margin:0 auto;
}
#m_header{display:none;}
#logo{
    width:250px;
    height:70px;
    display:inline-block;
    margin-top:40px;
}
#util{
    float:right;
    margin-top:30px;
}
.util_right>li{
    float:left;

}
.util_right>li:nth-child(2),
.util_right>li:nth-child(4),
.util_right>li:nth-child(6),
.util_right>li:nth-child(8),
.util_right>li:nth-child(10){
    margin:0 20px 0 20px;
}
.util_right::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
.util_right>li>a{
    font-size:1.2rem;
}
.gnb{
    position:absolute;
    left:590px;
    width:720px;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    margin-top:40px;
}
.gnb>li{
    float:left;
    text-align: center;
}
.gnb>li>a{
    display:block;
    font-size:1.7rem;
    font-weight:bold;
    transition: all .4s;
    width:240px;
    position:relative;
    color:#5d5d5d;
}
.gnb>li>a:hover{
    font-size:1.9rem;
    color:#156037;
    transition: all .4s;
}
.gnb>li:nth-child(1)>a{font-size:1.9rem;
    color:#156037;}

.gnb>li>a::after {
    content: "";
    width: 0;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
  }
.gnb>li>a:hover::after {
    content: "";
    width: 50%;
    height: 4px;
    position: absolute;
    background: #156037;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    transition: all 0.3s;
}
.gnb>li:nth-child(1)>a::after{ content: "";
    width: 60%;
    height: 4px;
    position: absolute;
    background: #156037;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    transition: all 0.3s;}
    .gnb>li:nth-child(2)>a:first-child:hover::after,
    .gnb>li:nth-child(3)>a:first-child:hover::after {
        width: 60%;
    }


#menu{
    position:fixed;
    left:50px;
    font-size:24px;
    font-weight:500;
    line-height:2;
    top:266px;
}
#menu>ul>li>a{transition: all .4s;}
#menu>ul>li>a:hover{
    font-size:30px;
    color:#156037;
    transition: all .4s;
}

.login_form{
    width:360px;
    background:rgb(241, 246, 239);
    height:250px;
    padding:40px 40px 80px 40px;
    border-radius:10px;
    position:relative;
    left:50%;
    top:60px;
    transform:translateX(-50%);
    margin-bottom:120px;
}
.txtb{
    border-bottom:2px solid #adadad;
    position:relative;
    margin:30px 0;
}
.txtb input{
    font-size:15px;
    color:#333;
    border:none;
    width:100%;
    outline:none;
    background:none;
    padding:0 5px;
    height:40px;
}
.txtb span::before{
    content:attr(data-placeholder);
    position:absolute;
    top: 50%;
    left:5px;
    color:#adadad;
    transform:translateY(-50%);
    z-index:-1;
    transition:all .5s;
}
.txtb span::after{
    content: '';
    position:absolute;
    width:0%;
    height:2px;
    background:linear-gradient(120deg, #156037, #8dce70);
    transition:all .5s;
}
.focus + span::before{top:-5px;}
.focus + span::after{width:100%;}
.logbtn{
    display:block;
    width:100%;
    height:50px;
    border:none;
    background:linear-gradient(120deg,#156037,#8dce70,#c7de76);
    background-size:200%;
    color:#fff;
    outline:none;
    cursor:pointer;
    transition:all .5s;
    font-size:1.5rem;
    font-weight:800;
}
.btn{margin-top:50px;}
.logbtn:hover{background-position:right;}

.logo_wrap img{width:280px;margin-top:100px;}
.logo_wrap{text-align:center;}

.bottom_text>li{
	float:left;
	width:100px;
	text-align:center;
	border-right:1px solid #333;
	box-sizing:border-box;
}
.bottom_text::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
.bottom_text>li:last-child{border:0;}
.bottom_text>li>a{width:100%;}
.bottom_text{
    margin:0 10px;
    width:300px;
    text-align:center;
    padding:20px;
}
/*푸터영역*/
footer{
    background:#d7d7d7;
    height:100px;
}
footer>.wrap{
    width:1200px;
    position:relative;
    padding:0;
}
footer>div>.logo{
    float:left;
    margin-top:40px;
  }
footer>div>address{
    position:absolute;
    left:300px;
    top:30px;
}
footer>div>address>p{
    line-height:25px;
    font-size:1.2rem;
    color:#5d5d5d;
}
footer>div>.ft_01{
    float:right;
    margin-top:30px;
}
footer>div>.ft_01>li{
    padding:5px;
}
footer>div>.ft_01>li:nth-child(1){
    text-align:right;
}
footer>div>.ft_01>li:nth-child(2){
    font-size:1.2rem;
    color:#5d5d5d;
}
footer>div>.ft_01>li>a{
    font-size:1.5rem;
    font-weight:bold;
    color:#5d5d5d;
}

@media all and (max-width:1024px){
 html{min-width: 100px;}
    body {
        width:1024px;
      }
      .wrap {
        width: 740px;
      }
      /*모바일 헤더영역 */
      #header {
        display: none;
      }
      #util,
      .gnb {
        display: none;
      }
    
      #menu {
        display: none;
      }
    
      #m_header {
        display: block;
        width: 100%;        margin: 0 auto;
        box-sizing: border-box;
        height: 100px;
        z-index: 99999;
        position: fixed;
        background: #fff;
        right:0;
      }
      #m_logo {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
        text-align: center;
      }
    
      #m_logo img {
        width: 180px;
      }
    
      input[id="m_btn"] {
        display: none;
      }
    
      input[id="m_btn"] + label {
        display: block;
        width: 60px;
        height: 40px;
        cursor: pointer;
        position: relative;
        z-index: 2;
        float: right;
        right: 5%;
        top: 30%;
      }
    
      input[id="m_btn"] + label > span {
        display: block;
    
        height: 7px;
        width: 100%;
        border-radius: 30px;
        background: black;
        position: absolute;
      }
    
      input[id="m_btn"] + label > span:nth-child(1) {
        top: 0;
      }
    
      input[id="m_btn"] + label > span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
    
      input[id="m_btn"] + label > span:nth-child(3) {
        bottom: 0;
      }
      #m_popup {
        visibility: hidden;
        width: 0;
        height: 0;
        overflow: hidden;
        text-indent: -9999px;
      }
      .m_gnb {
        width: 90%;
        margin-bottom: 30px;
      }
      .m_gnb > li > a {
        display: block;
        color: #f2f2f2;
        font-size: 3rem;
        line-height: 1.8;
      }
      .m_gnb > li:last-child {
        border-bottom: 3px solid #156037;
        padding-bottom: 30px;
      }
    
      .m_util {
        width: 90%;
      }
      .m_util > li > a {
        display: block;
        color: #f2f2f2;
        font-size: 2rem;
        line-height: 2;
      }
    
      .m_gnb > li > a:hover,
      .m_util > li > a:hover {
        font-weight: bold;
        color: #156037;
      }
    
      input[id="m_btn"]:checked + label > span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transition: all 0.4s;
        background: #fff;
      }
    
      input[id="m_btn"]:checked + label > span:nth-child(2) {
        display: none;
      }
    
      input[id="m_btn"]:checked + label > span:nth-child(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
        transition: all 0.4s;
        background: #fff;
      }
    
      input[id="m_btn"]:checked ~ #m_popup {
        visibility: visible;
        width: 50%;
        height: 100%;
    
        overflow: hidden;
        text-indent: 0;
        right: 0;
        background: #000;
        transition: all 0.4s;
        position: fixed;
        padding: 60px 25px 25px 25px;
        box-sizing: border-box;
        top: 0;
        right: 0;
        z-index: 1;
      }

/*모바일 푸터*/

footer{
    width:1024px; height:100px; margin:0 auto;    background:#d7d7d7;

  }
  footer div.wrap {width:740px; height:100px;
    position:relative;
    padding:0;
  
  }
  
  footer>div>.logo{
    position: absolute; left:0; top:50%; transform: translateY(-50%); width:250px; height:30px; line-height: 30px; text-align: center; margin: 0;
  }
  footer>div>.logo img{width:244px; height:25px; vertical-align: middle;}
  footer>div>address{ 
    text-align: left;
    position:absolute;
    
    top:15px;
    left:35%;
  }
  footer>div>address>p{
    
    font-size:1rem;
    color:#5d5d5d;
  }
  footer>div>.ft_01{
    text-align: left;
    width:450px;
    margin:0;
    
   position: absolute;
   top:70px;
   left:35%;
   display: flex;
    flex-flow: row wrap; 
   justify-content:space-between;
   align-items:flex-end;
  }
  footer>div>.ft_01>li{ display: block; padding:0; height:20px; line-height: 20px; }
  footer>div>.ft_01>li:first-child{width:135px;  text-align: left; }
  footer>div>.ft_01>li:last-child{width:315px; text-align: right; }
  footer>div>.ft_01>li:nth-child(2){
    font-size:1rem;
  }
  footer>div>.ft_01>li>a{
    font-size:1.4rem;
  }
  h3{text-align: center; 
    font-size: 2.8rem;
    font-weight:700;
    margin-top:0;
}

    }