@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');
@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*font-family: 'Noto Sans KR', sans-serif;*/
/*font-family: '양진체'*/

html{width:100%;height:100%;margin:0 atuo;font-size:12px; font-family: 'Noto Sans KR', sans-serif;background:#eff0ee;}
img{vertical-align:top;}
a{text-decoration:none;}
a,a:link,a:visited,a:hover,a:active{color:#333;}


.wrap{
    padding:100px 0;
	width:100%;height:750px;
	margin:0 auto;
	position:relative;
	
}


.login_form{
    width: 360px;
    background:#fff;
    height: 250px;
    padding: 40px 40px 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
	
}


.txtb{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
}

.txtb input{
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background:none;
    padding: 0 5px;
    height: 40px;
}

.txtb span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left:5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}
.txtb span::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: linear-gradient(120deg, #156037, #8dce70);
    transition: .5s;
}

.focus + span::before{
    top:-5px;
}
.focus + span::after{
    width:100%;
}
.logbtn{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(120deg,#156037,#8dce70,#c7de76);
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
    font-size:1.5rem;
    font-weight: 800;
}
.btn{margin-top:50px;}
.logbtn:hover{
    background-position: right;
}


.logo_wrap img
{
	width:280px;margin-top:100px;
	
}
.logo_wrap{text-align:center;}



.bottom_text>li{
	
	float:left;
	width:100px;
	text-align:center;
	border-right:1px solid #333;
	box-sizing:border-box;
}
.bottom_text::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}

.bottom_text>li:last-child{border:0;}
.bottom_text>li>a{
   width:100%;


}


.bottom_text{
    margin:0 10px;width:300px;text-align:center;padding:20px;}


