@charset "utf-8";
@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{padding:0; margin:0;list-style:none;}
*{text-decoration:none;}
html{font-family: 'Noto Sans KR', sans-serif;}
.wrap{
    width:740px;
    margin:0 auto;
    height:2000px;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .search {
    width: 300px;
    height: 100px;
  }
  .search input {
    width: 80%;
    height: 30px;
    font-size: 18px;
    border: none;
    border-bottom: 1px black solid;
  }
  
  .search button {
    font-size: 18px;
    border: none;
    background-color: green;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
  }


  