@charset "utf-8";
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*font-famliy: 'Noto Sans KR', sans-serif;*/
/*
color
#156037
#8dc270
#c7de76 
#e7ecd6;
*/
/*RESET CSS*/
html{font-family: 'Noto Sans KR', sans-serif; font-size:14px;}
*{margin: 0; padding: 0;}
ul,li{text-decoration: none;}
img{vertical-align:top;}
a{text-decoration:none;}
a,a:link,a:visited,a:hover,a:active{color:#000000;}
body h2{
    display:none;
    visibility:hidden;
    width:0; height:0;
    overflow:hidden;
    text-indent:-9999px;
}

.wrap{width: 1200px; margin: 0 auto;}

/*banner*/
#banner{
    background:#f1f1f1;
    width:100%; height:230px;
}
.bnr>h3{
    width:100%; height:0;
    display:block;
    text-align: center;
}
.bnr>h4{
    display: block;
    width:100%; height:0;
    text-align:center;
}
.bnr>h3{
    font-size:2.5rem;
    font-weight: 600;
    color:#156037;
    display:block;
    padding: 50px 0 0;
    margin-left: 180px;
}
.bnr>h4{
    font-size:1.7rem;
    font-weight: 700;
    color:#333;
    display: block;
    text-align:center;
    padding: 90px 0 0;
    margin-left: 180px;
}
.bnr>a>img{
    width:230px;
    position: absolute;
    transform: translateY(-61%);
    margin-left: 19%;
}


/*icon*/
#icon{width: 100%; margin-bottom: 80px;}
#icon>h5{
    font-size: 2.5rem;
    font-weight: 500;
    margin: 40px 0 60px;
    color: #156037;
}
.bg_icon{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.bg_icon{width: 90%; margin: 0 auto;}
.bg_icon>li{
    width: 300px; text-align: center;
    border: 1px solid #ddd;
}
.bg_icon>li>a{
    display: block;
    width: 220px; height: 220px;
    margin: 20px 40px 0px;
}
.bg_icon>li>a>img{width: 80%; height: 80%;}
.bg_icon>li>h3{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: #156037;
}

/*menu*/
#menu{
    width:100%; height:300px;
    background: #e7ecd6;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.l_menu{
    width: 50%; height: 240px;
    margin-top: 30px;
    border-right: 2px solid #666;
    position: relative;
}
.l_menu>h3{
    font-size: 2rem;
    color: #156037;
    font-weight: 500;
    position: absolute;
    left: 8%; top: 20%;
}
.l_menu>h4{
    position: absolute;
    left: 8%; top: 60%;
    font-size: 1.5rem;
    font-weight: 500;
    color: red;
}
.l_menu>h5{
    position: absolute;
    left: 38%; top: 61%;
    font-size: 1.2rem;
}
.l_menu>h6{
    display: block;
    width: 120px; height: 40px;
    background: #444;
    font-size: 1.2rem;
    line-height: 40px;
    position: absolute;
    left: 68%; top: 56%;
    padding-left: 15px;
    color: #fff;
}


.r_menu{
    width: 50%; height: 200px;
    margin-top: 30px;
    position: relative;
}
.r_menu>h3{
    font-size: 1.5rem;
    color: #156037;
    font-weight: 500;
    position: absolute;
    left: 8%; top: 20%;
}
.r_menu>h4{
    font-size: 1.2rem;
    position: absolute;
    left: 30%; top: 21%;
}
.r_menu>h5{
    font-size: 1.5rem;
    color: #156037;
    font-weight: 500;
    position: absolute;
    left: 8%; top: 80%;
}
.r_menu>h6{
    font-size: 1.2rem;
    position: absolute;
    left: 30%; top: 81%;
}


/*asset*/
#asset{
    width:100%;
    display: block;
    box-sizing: border-box;
    background: #c7dec6;
    position: relative;
    margin-bottom: 50px;
}
.asset_wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.asset_wrap>li{
    width: 25%;
    text-align: center;
    margin: 20px;
    position: relative;
}
.asset_wrap>li>figure>figcaption{
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    margin: 20px auto;
}
.asset_wrap>li>figure>img{
    width: 80%; height: 80%;
}
.asset_wrap>li:after{
    position: absolute;
    left: 255px;
    top: 110px;
    content: '';
    display:block;
    background: url("../images/sub3/arrow7-1.png") no-repeat;
    width: 50px;
    height: 33px;
}

.asset_wrap>li:last-child:after{display: none;}

@media all and (max-width: 1024px){
    .wrap{width: 740px; margin: 0 auto;}

    /*icon*/
    #icon{
        width: 100%;
        text-align: center;
    }
    .bg_icon{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .bg_icon>li{width: 30%;}
    .bg_icon>li>a{
        display: block;
        width: 110px; height: 110px;
        padding-left: 15px;
    }
    .bg_icon>li>h3{
        font-size: 1.5rem;
    }

    /*menu*/
    .l_menu>h3{
        font-size: 2rem;
        color: #156037;
        font-weight: 500;
        position: absolute;
        left: 8%; top: 10%;
    }
    .l_menu>h4{
        position: absolute;
        left: 8%; top: 35%;
        font-size: 1.5rem;
        font-weight: 500;
        color: red;
    }
    .l_menu>h5{
        position: absolute;
        left: 8%; top: 56%;
        font-size: 1.2rem;
    }
    .l_menu>h6{
        display: block;
        width: 120px; height: 40px;
        background: #444;
        font-size: 1.2rem;
        line-height: 40px;
        position: absolute;
        left: 8%; top: 76%;
        padding-left: 15px;
        color: #fff;
    }
    
    .r_menu>h3{
        font-size: 1.5rem;
        color: #156037;
        font-weight: 500;
        position: absolute;
        left: 8%; top: 15%;
    }
    .r_menu>h4{
        font-size: 1.2rem;
        position: absolute;
        left: 8%; top: 35%;
    }
    .r_menu>h5{
        font-size: 1.5rem;
        color: #156037;
        font-weight: 500;
        position: absolute;
        left: 8%; top: 65%;
    }
    .r_menu>h6{
        font-size: 1.2rem;
        position: absolute;
        left: 8%; top: 85%;
    }

    /*asset*/
    .asset_wrap>li:after{
        position: absolute;
        left: 155px;
        top: 70px;
        content: '';
        display:block;
        background: url("../images/sub3/arrow7-1.png") no-repeat center center/100%;
        width: 30px;
        height: 15px;
    }
    .asset_wrap>li>figure>figcaption{
        font-size: 1.2rem;
    }
































}


