@charset "utf-8";
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*font-famliy: 'Noto Sans KR', sans-serif;*/
/*
color
#156037
#8dc270
#c7de76 
#e7ecd6;
*/
/*RESET CSS*/
html{font-family: 'Noto Sans KR', sans-serif; font-size:12px;}
*{margin: 0; padding: 0;}
ul,li{text-decoration: none;}
img{vertical-align:top;}
a{text-decoration:none;}
a,a:link,a:visited,a:hover,a:active{color:#000000;}
body{
    margin-top: 20px;
}
#search_icon{
    font-weight: 700;
}
.search_bar1{
    border:3px solid #156037;
    width:270px;
}
#search_bg{
    margin-top:20px;
    width:270px;
    height:250px;
    border:3px solid #156037;
    position: relative;
}
#search_bg>div{
    width:270px;
    height:25px;
}
#search_icon>div:nth-child(1)>a img{
    padding: 2px 0 0;
}
#search_icon>div:nth-child(1)>a{
        width:270px; height:30px;
}
#search_bg:nth-child(2)>a img{
    padding: 5px 0 0;
}
#search_r>a img{
    width:35px; height:35px;
}
#search_r>a{
    left: 320px;
    background: red;
}
#search_r>li>a{
    color:#333;
}
#search_bg>ul{
    width:50%;
    height:50%;
}
#search_bg>ul:nth-child(1){
    position: absolute;
    left: 0; 
}
#search_bg>ul:nth-child(2){
    position: absolute;
    right:0 ;
}
#search_bg>ul:nth-child(2)>li:nth-child(5){
    top:30px;
}