@import url('reset.css');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*font-family: 'Noto Sans KR', sans-serif;*/

html{font-family: 'Noto Sans KR', sans-serif; background: #fbf9f9; 
    font-size: 16px;
}

a{text-decoration:none; }
a:link{color:#333;}
a:visited{color:#333;}
a:hover{color:#333;}
a:active{color:#333;}


/*lnb*/
.side_bg{width:300px; height:1200px; background: #fff; position: fixed; }


#profile{width:300px; height:200px; text-align: center; line-height: 1.8; margin-bottom: 20px;}
#profile>p{font-size: 12px;}
#profile img{width:75px; height:75px; }

#current_date{color:#333; font-size: 10px; text-align: left;}

.time, .date{
    margin-left: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    text-align: left;
}

#lnb>ul{width:100%; height:400px;}

#lnb>ul>li>a{width:100%; height:50px; background: #0045AC; line-height: 50px; text-align: center;  color: #f5f5f5; font-weight: 700; font-size: 20px; display:block;}


/*검색영역*/

.main_container{width:100%; height: 100%; padding:24px 65px 24px 365px; box-sizing: border-box; }

.main_container>h2{font-weight: bold; font-size: 1.5rem;}


.wrap{width: 1490px; height: 100%; }
#s_box{margin-top:50px ;  border-top: 1px solid #333; box-sizing: border-box;}
#s_box tr{
    border-bottom: 1px solid #333; 
}
#s_box th{
    background: #E9F7FF;
    width:120px;
    height: 35px;
    line-height: 35px;
}

#s_box td{width:1370px; height:35px; padding-left: 5px;}
#s_box_btn{text-align: center; padding: 5px 0 65px;}
#s_box_btn>button{width:80px;}



/*상품리스트*/
#item_box{width:1490px; height:100%; margin-top: 10px;}
#item_box>thead>tr{
    width:1490px; height:33px; line-height: 33px;
    border-top: 1px solid #333; 
    border-bottom: 1px solid #e6e6e6;
}


#item_box>tbody>tr{width:1490px; height:150px; line-height: 150px;  text-align: center;}

#item_box>tbody>tr:nth-child(odd){background: #f2f2f2;}


#item_box>tbody>tr:nth-child(1)>td:nth-child(3){
    background: url(../img/명수명수도구리_L.jpg) no-repeat center/120px ;}
#item_box>tbody>tr:nth-child(2)>td:nth-child(3){
    background: url(../img/명수명수까스활명수.jpg) no-repeat center/120px ;}
#item_box>tbody>tr:nth-child(3)>td:nth-child(3){
    background: url(../img/명수명수쌍화탕.jpg) no-repeat center/120px ;}
#item_box>tbody>tr:nth-child(4)>td:nth-child(3){
    background: url(../img/명수명수벡셀지파크.jpg) no-repeat center/120px ;}
#item_box>tbody>tr:nth-child(5)>td:nth-child(3){
    background: url(../img/명수명수까스활.jpg) no-repeat center/120px ;}

#item_box img{ display:none;
    width:120px; height:120px;
  
    

}