@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');
@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'Noto Sans KR', sans-serif;*/
/*font-family: '양진체'*/
html{font-size:12px; font-family: 'Noto Sans KR', sans-serif; min-width: 1700px;}
img{vertical-align:top;}
a{text-decoration:none;}
a,a:link,a:visited,a:hover,a:active{color:#333;}

.wrap{width:1200px; margin:0 auto;}

/*헤더영역*/
#header{
  width:100%;
  height:100px;
  margin: 0 auto;
  
 
}
.header_wrap{margin: 0 110px; position: relative; width:1700px; height:100px;}
#m_header{display: none;}
#logo{
  width:250px;
  height:70px;
  display:inline-block;
  position: absolute;
  left:0px;
  top:15px;
}

.r_icon{width:80px; display: flex;
  flex-flow: row wrap; 
 justify-content: space-between;
 align-items :center;

}
.r_icon img{width:30px; height:30px;}

#main_search{width:400px; position: absolute; bottom: 10px; right:0; height:30px; line-height: 30px;
  display: flex;
  flex-flow: row wrap; 
 justify-content: space-between;
 align-items :center;
}
#main_search input{
  
  border:none;  border-bottom:2px solid #156037; 
  width:270px; height:30px;
  outline: none;
  text-align: center;

}

#main_search>a{display:inline-block; width:25px; height:25px;  }
#main_search>a>img{width:25px; height:25px; padding-top: 3px;}
#util{


  position: absolute;
  top:10px;
  right:0;

}
.util_right>li{
  float:left;

}
.util_right{width:356.516px;}
.util_right>li:nth-child(5){width:50.53px;}
.util_right>li:nth-child(7){width:83px;}
.util_right>li:nth-child(2),
.util_right>li:nth-child(4),
.util_right>li:nth-child(6),
.util_right>li:nth-child(8),
.util_right>li:nth-child(10){
  margin:0 20px 0 20px;
}
.util_right::after{
content:'';
width:0; height:0;
display:block;
clear:both;
visibility:hidden;
}
.util_right>li>a{
  font-size:1.2rem;
}
.gnb{
  position:absolute;
  left:590px;
  width:720px;
  display:flex;
  flex-flow:row wrap;
  justify-content: space-between;
  bottom:15px;
  left:50%;
  transform: translateX(-50%);
}
.gnb>li{
  float:left;
  text-align: center;
}
.gnb>li>a{
  display:block;
  font-size:1.7rem;
  font-weight:bold;
  height:22.8px;
  transition: all .4s;
  width:240px;
  position:relative;
  color:#5d5d5d;
}
.gnb>li>a:hover{
  font-size:1.9rem;
  color:#156037;
  transition: all .4s;
}
/*
.gnb>li:nth-child(1)>a{font-size:1.9rem;
  color:#156037;}
*/
.gnb>li>a::after {
  content: "";
  width: 0;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
}
.gnb>li>a:hover::after {
  content: "";
  width: 60%;
  height: 4px;
  position: absolute;
  background: #156037;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  transition: all 0.3s;
}



#menu{
    position:fixed;
    left:50px;
    font-size:1.7rem;
    line-height:2;
    top:266px;
    z-index:99999;
}
#menu>ul>li>a{transition: all .4s;
color:#5d5d5d; z-index:99999;}
#menu>ul>li>a:hover{
    font-size:30px;
    color:#156037;
    font-weight:bold;
    transition: all .4s;
    z-index:99999;
}

/**/
#sec01_wrap>h2{text-align: center; font-size: 2.8rem;font-weight:700; margin-top: 100px;}
#sec01_wrap>h3{
    padding:30px 0;
    text-align:left;
    font-size:30px;
    font-weight:700;
}
#sec01_wrap>h3{margin-top:30px;}
#sec01_wrap>h3,#sec02_wrap>h3{
    font-weight:500;
    font-size:20px;
    display:inline-block;
    width:650px;
}
#sec01_wrap hr,#sec02_wrap hr{
    border:0;
    background:#156037;
    width:100%;
    height:3px;
    margin:10px 0 30px 0;
}
#sec01_wrap>p{text-align: right;}
#sec02_wrap>h3{margin-top:100px;}


.form_input{margin:10px 0;width:100%;}

.int,#phone_select{
    display:inline-block;
    position:relative;
    width:200px;
    height:30px;
    border:solid 1px #dadada;
    padding-right:25px;
    line-height:30px;
    background:#fff;
    box-sizing:border-box;

 }
#phone_select{width:75px;}
#phoneNum{width:123px;}
a.list{
    color:#fff;
    margin:0 10px;
    background-color:#156037;
    text-align:left;
    padding:0 15px;
    height:30px;
    line-height:30px;
    display:inline-block;width:100px;

}
.adress_input{height:50px;}

#mail_Select{
    display:inline-block;
    position:relative;
    width:180px;
    height:30px;
    border:solid 1px #dadada;
    padding-right:25px;
    line-height:30px;
    background:#fff;
    box-sizing:border-box;
}
.postwrap{
    position:relative;
    top:-119px;
    left:153px;
}
.postwrap input{
    margin-top:10px;
    height:30px;
}
#post_btn{
    height:29px;margin-top:10px;
}
.address_list{height:110px !important;}

.j2_agr {
    height:80px;
    overflow:scroll;
    overflow-x:hidden;
    border:1px solid #ccc;
    padding:30px;
}
.j2_alck {
    font-size:1.5rem;
    font-weight:500;

}
.j2_agr_wrap>h4 {
    margin:10px 0;
    font-weight:400;
    font-size:1.2rem;
}
.j2_agr_wrap{padding:10px;}
.btn{margin:10px atuo 0;width:100%;}
.logbtn{
    display:block;
    width:150px;
    height:50px;
    border:none;
    background:#156037;
    background-size:200%;
    color:#fff;
    outline:none;
    cursor:pointer;
    font-size:1.5rem;
    font-weight:800;
    margin:20px auto;
}
.j2_agr_wrap>h4>span{color:#ccc;}

.j2_agr_wrap h4{display:inline-block}
.agr_chk_wrap{display:block;}
.j2_agr_wrap h4 span{color:red;}


.popup_wrap{display:none;}
.detail{display:none;}

#sample6_address{position:relative;}
#sample6_extraAddress{position:absolute;left:203px;top:41px;}
#sample6_detailAddress{display:block;}
/*푸터영역*/
/*푸터영역*/
footer{
  background:#d7d7d7;
  height:100px;
}
footer>.wrap{
  width:1200px;
  position:relative;
  padding:0;
}
footer>div>.logo{
  float:left;
  margin-top:40px;
}
footer>div>address{
  position:absolute;
  left:300px;
  top:30px;
}
footer>div>address>p{
  line-height:25px;
  font-size:1.2rem;
  color:#5d5d5d;
}
footer>div>.ft_01{
  float:right;
  margin-top:30px;
}
footer>div>.ft_01>li{
  padding:5px;
}
footer>div>.ft_01>li:nth-child(1){
  text-align:right;
}
footer>div>.ft_01>li:nth-child(2){
  font-size:1.2rem;
  color:#5d5d5d;
}
footer>div>.ft_01>li>a{
  font-size:1.5rem;
  font-weight:bold;
  color:#5d5d5d;
}
@media all and (max-width:1024px) {
    html{min-width: 100px;}
    body {
        width:1024px;
      }
      .wrap {
        width: 740px;
      }
      /*모바일 헤더영역 */
      #header {
        display: none;
      }
      #util,
      .gnb {
        display: none;
      }
    
      #menu {
        display: none;
      }
    
      #m_header {
        display: block;
        width: 100%;        margin: 0 auto;
        box-sizing: border-box;
        height: 100px;
        z-index: 99999;
        position: fixed;
        background: #fff;
        right:0;
      }
      #m_logo {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
        text-align: center;
      }
    
      #m_logo img {
        width: 180px;
      }
    
      input[id="m_btn"] {
        display: none;
      }
    
      input[id="m_btn"] + label {
        display: block;
        width: 60px;
        height: 40px;
        cursor: pointer;
        position: relative;
        z-index: 2;
        float: right;
        right: 5%;
        top: 30%;
      }
    
      input[id="m_btn"] + label > span {
        display: block;
    
        height: 7px;
        width: 100%;
        border-radius: 30px;
        background: black;
        position: absolute;
      }
    
      input[id="m_btn"] + label > span:nth-child(1) {
        top: 0;
      }
    
      input[id="m_btn"] + label > span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
    
      input[id="m_btn"] + label > span:nth-child(3) {
        bottom: 0;
      }
      #m_popup {
        visibility: hidden;
        width: 0;
        height: 0;
        overflow: hidden;
        text-indent: -9999px;
      }
      .m_gnb {
        width: 90%;
        margin-bottom: 30px;
      }
      .m_gnb > li > a {
        display: block;
        color: #f2f2f2;
        font-size: 3rem;
        line-height: 1.8;
      }
      .m_gnb > li:last-child {
        border-bottom: 3px solid #156037;
        padding-bottom: 30px;
      }
    
      .m_util {
        width: 90%;
      }
      .m_util > li > a {
        display: block;
        color: #f2f2f2;
        font-size: 2rem;
        line-height: 2;
      }
    
      .m_gnb > li > a:hover,
      .m_util > li > a:hover {
        font-weight: bold;
        color: #156037;
      }
    
      input[id="m_btn"]:checked + label > span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transition: all 0.4s;
        background: #fff;
      }
    
      input[id="m_btn"]:checked + label > span:nth-child(2) {
        display: none;
      }
    
      input[id="m_btn"]:checked + label > span:nth-child(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
        transition: all 0.4s;
        background: #fff;
      }
    
      input[id="m_btn"]:checked ~ #m_popup {
        visibility: visible;
        width: 50%;
        height: 100%;
    
        overflow: hidden;
        text-indent: 0;
        right: 0;
        background: #000;
        transition: all 0.4s;
        position: fixed;
        padding: 60px 25px 25px 25px;
        box-sizing: border-box;
        top: 0;
        right: 0;
        z-index: 1;
      }
      
#sec01_wrap>h3,#sec01_wrap>span{display:none;}
#sec01_wrap h2{margin: 0; padding-top: 120px;}
#sec01_wrap>hr{width:100%;}
.form_wrap{width:100%;display:block;margin:0 auto;}
.list{
    display:block;
    font-size: 1.8rem;
}

.int{font-size:1.3rem;padding-left:10px;}
#sec02_wrap>h3,#sec02_wrap>span,#sec02_wrap>hr{display:none;}
.j2_agr{display:none;}

.form_input>.list{
    display:block;
    width:80%;
    background-color:#fff;
    color:black;
    padding-bottom:10px;
}

.int_id input{ width:700px;height:50px;}
.int_id{font-size: 1.3rem;}

.emailInt{font-size:1.5rem;}
#phone_select{
    padding-left:5px;
    height:50px;
    width:205px; 
    font-size:1.3rem;
}
#phoneNum{width:490px;}
.form_input{text-align:center;}
#email{width:480px;height:50px;font-size:1.3rem;}
#emailBox>span{font-size:1.5rem;}
#mail_Select{height:50px;font-size:1.3rem;}

#sec02_wrap{
    border: 1px solid #ccc;
    width:658px;
    margin:0 auto;
    padding:20px;
}
#sec02_wrap{margin-top:265px;}
.postwrap{
    position: relative;
    width:700px;
}

.j2_agr_wrap{font-size: 1.8rem;}
.btn{margin:50px auto;}
.logbtn{width:700px;font-size:1.8rem;}

/*adress*/
#sample6_postcode{
    position:absolute;
    top:30px;
    left:-130px;
    width:480px;
    height:50px;
}
#post_btn{
    position:absolute;
    top:30px;
    left:380px;
    width:120px;height:50px;
}
#sample6_address{
    position:absolute;
    top:90px;
    left:-130px;
    width:690px;height:50px;
}
#sample6_extraAddress{
    position:absolute;
    top:150px;
    left:-130px;
    width:690px;height:50px;    
}
#sample6_detailAddress{
    position:absolute;
    top:210px;
    left:-130px;
    width:690px;height:50px;    
}

.j2_agr_wrap label{font-size:1.2rem;}
.j2_agr_wrap h4{font-size:1.4rem;}
.j2_agr_wrap

/*팝업창*/
.popup_black{
	display:none;
	position:fixed;
	left:0; top:0;
	width:100%; height:100%;
	background-color:rgba(0,0,0,0.6);
	z-index:999;
}
.popup_wrap{
	display:none;
	position:fixed;
	left:50%; top:50%;
	transform:translate(-50%, -50%);
	width:400px; height:350px;
	background:rgba(235, 235, 235, 1);
	z-index:9999;
	overflow:scroll;
	text-align:center;
    overflow-x:hidden;
}
.popup_wrap h3{
	margin:20px 0;
	color:#000;
	font-size:22px;
}
.pop_line{border-bottom:1px solid #ffffff;}
.close_btn{	
    position:absolute;
    left:330px; top:8px;
    display:inline;
    cursor:pointer;
}
.detail{cursor:pointer;}
.popup_wrap>p{
    margin:10px 30px;
    font-size:1.2rem;
    line-height:1.5;
    text-align: left;
}
.popup_black2{
	display:none;
	position:fixed;
	left:0; top:0;
	width:100%; height:100%;
	background-color:rgba(0,0,0,0.6);
	z-index:9999;
}
.popup_wrap2{
	display:none;
	position:fixed;
	left:50%; top:50%;
	transform:translate(-50%, -50%);
	width:400px; height:350px;
	background:#fff;
	z-index:999999;
	text-align:center;
}
.popup_wrap2 h3{
	margin:20px 0;
	color:#000;
	font-size:22px;
}
.popup_wrap2 p{
	margin:30px 0;
	color:#000;
	font-size:20px;
}
.pop_line2{border-bottom:1px solid #e1e1e1;}
.close_btn4{
    display:inline-block;
	background:#156037;
	margin:20px 10px;
	width:150px; height:50px;
	outline:0;
	border-radius:50px;
	text-align:center;
	line-height:50px;
	color:#fff;
	cursor:pointer;
}
.close_btn3{	
    display:inline-block;
    background:#666;
	margin:20px auto;
	width:150px; height:50px;
	outline:0;
	border-radius:50px;
	text-align:center;
	line-height:50px;
	color:#fff;
	cursor:pointer;
}
.list span{color:red;}
.popup_wrap{visibility:visible;}
.detail{font-size:1rem;display:inline-block;}
/*모바일 푸터*/

footer{
    width:1024px; height:100px; margin:0 auto;    background:#d7d7d7;

  }
  footer div.wrap {width:740px; height:100px;
    position:relative;
    padding:0;
  
  }
  
  footer>div>.logo{
    position: absolute; left:0; top:50%; transform: translateY(-50%); width:250px; height:30px; line-height: 30px; text-align: center; margin: 0;
  }
  footer>div>.logo img{width:244px; height:25px; vertical-align: middle;}
  footer>div>address{ 
    text-align: left;
    position:absolute;
    
    top:15px;
    left:35%;
  }
  footer>div>address>p{
    
    font-size:1rem;
    color:#5d5d5d;
  }
  footer>div>.ft_01{
    text-align: left;
    width:450px;
    margin:0;
    
   position: absolute;
   top:70px;
   left:35%;
   display: flex;
    flex-flow: row wrap; 
   justify-content:space-between;
   align-items:flex-end;
  }
  footer>div>.ft_01>li{ display: block; padding:0; height:20px; line-height: 20px; }
  footer>div>.ft_01>li:first-child{width:135px;  text-align: left; }
  footer>div>.ft_01>li:last-child{width:315px; text-align: right; }
  footer>div>.ft_01>li:nth-child(2){
    font-size:1rem;
  }
  footer>div>.ft_01>li>a{
    font-size:1.4rem;
  }
  
}