@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');
@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'Noto Sans KR', sans-serif;*/
/*font-family: '양진체'*/
html{font-size:12px; font-family: 'Noto Sans KR', sans-serif; min-width: 1700px;}
img{vertical-align:top;}
a{text-decoration:none;}
a,a:link,a:visited,a:hover,a:active{color:#333;}

.wrap{width:1200px; margin:0 auto; text-align: center; padding:100px 0;}
h2{
    display: none;
    visibility: hidden;
    width: 0; height: 0;
    overflow: hidden;
    text-indent: -9999px;
}

.clear::after{
    content:'';
    display:block;
    width: 0; height: 0;
    visibility: hidden;
    overflow: hidden;
    clear:both;
}

/*헤더영역*/
#header{
  width:100%;
  height:100px;
  margin: 0 auto;
  
 
}
.header_wrap{margin: 0 110px; position: relative; width:1700px; height:100px;}
#m_header{display: none;}
#logo{
  width:250px;
  height:70px;
  display:inline-block;
  position: absolute;
  left:0px;
  top:15px;
}

.r_icon{width:80px; display: flex;
  flex-flow: row wrap; 
 justify-content: space-between;
 align-items :center;

}
.r_icon img{width:30px; height:30px;}

#main_search{width:400px; position: absolute; bottom: 10px; right:0; height:30px; line-height: 30px;
  display: flex;
  flex-flow: row wrap; 
 justify-content: space-between;
 align-items :center;
}
#main_search input{
  
  border:none;  border-bottom:2px solid #156037; 
  width:270px; height:30px;
  outline: none;
  text-align: center;

}

#main_search>a{display:inline-block; width:25px; height:25px;  }
#main_search>a>img{width:25px; height:25px; padding-top: 3px;}
#util{


  position: absolute;
  top:10px;
  right:0;

}
.util_right>li{
  float:left;

}
.util_right>li:nth-child(2),
.util_right>li:nth-child(4),
.util_right>li:nth-child(6),
.util_right>li:nth-child(8),
.util_right>li:nth-child(10){
  margin:0 20px 0 20px;
}
.util_right::after{
content:'';
width:0; height:0;
display:block;
clear:both;
visibility:hidden;
}
.util_right>li>a{
  font-size:1.2rem;
}
.gnb{
  position:absolute;
  left:590px;
  width:720px;
  display:flex;
  flex-flow:row wrap;
  justify-content: space-between;
  bottom:15px;
  left:50%;
  transform: translateX(-50%);
}
.gnb>li{
  float:left;
  text-align: center;
}
.gnb>li>a{
  display:block;
  font-size:1.7rem;
  font-weight:bold;
  transition: all .4s;
  width:240px;
  position:relative;
  color:#5d5d5d;
}
.gnb>li>a:hover{
  font-size:1.9rem;
  color:#156037;
  transition: all .4s;
}
.gnb>li:nth-child(3)>a{font-size:1.9rem;
  color:#156037;}

.gnb>li>a::after {
  content: "";
  width: 0;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
}
.gnb>li>a:hover::after {
  content: "";
  width: 60%;
  height: 4px;
  position: absolute;
  background: #156037;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  transition: all 0.3s;
}
.gnb>li:nth-child(3)>a::after{ content: "";
  width: 60%;
  height: 4px;
  position: absolute;
  background: #156037;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  transition: all 0.3s;}
  


#menu{
    position:fixed;
    left:50px;
    font-size:1.7rem;
    line-height:2;
    top:266px;
    z-index:99999;
}
#menu>ul>li>a{transition: all .4s;
color:#5d5d5d; z-index:99999;}
#menu>ul>li>a:hover{
    font-size:30px;
    color:#156037;
    font-weight:bold;
    transition: all .4s;
    z-index:99999;
}


    /*ㅋㅋ*/
.top{font-size:15px; margin:70px 0;}
.top>p{float:left;}
.top>ul{float:right;}
.top>ul>li{float:left; margin-left: 20px;}
.product_list{padding:0;}
.product_list>div{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
}
.product_list>div>a{
    display:inline-block;
    width:220px;
    margin-left:106px;
    margin-bottom:100px;
    text-align: left;
    line-height:1.5;
}
.product_list>div>a:nth-child(4n+1){
    margin-left:0;
}
.product_list>div>a img{height: 200px; padding:10px;}
.product_list>div>a img:hover{transform:scale(1.04);}
.product_list>div>a>ul>li:first-child{
    width:220px; height:220px;
    border: solid 1px #d0d0d0;
    margin-bottom:20px;
    text-align: center;
}
.product_list>div>a>ul>li:nth-child(2){font-size:18px;}
.product_list>div>a>ul>li:nth-child(3){font-size:14px; color:#555;}
.product_list>div>a>ul>li:nth-child(4){font-size:20px;}
.product_list>div>a>ul>li:nth-child(4) span{font-weight:bold;}
.product_list>div>a>ul>li:nth-child(4)>ul{display:flex; flex-flow:row wrap; justify-content: space-between;}
.product_list>div>a>ul>li:nth-child(4)>ul>li:last-child{color:#156037; font-size:15px; line-height: 35px;}


.product_list>div>ul{margin:0 auto; text-align: center;}
.product_list>div>ul>li{float:left; font-size:18px; padding:10px;}
.product_list>div>ul>li:nth-child(2){font-weight:bold;}
.product_list>div>ul>li>a{float:left;}

/*푸터영역*/
footer{
  background:#d7d7d7;
  height:100px;
}
footer>.wrap{
  position:relative;
  padding:0;
}
footer>div>.logo{
  float:left;
  margin-top:40px;
}
footer>div>address{
  position:absolute;
  left:300px;
  top:30px;
}
footer>div>address>p{
  line-height:25px;
  font-size:1.2rem;
  color:#5d5d5d;
  text-align: left;
}
footer>div>.ft_01{
  float:right;
  margin-top:30px;
}
footer>div>.ft_01>li{
  padding:5px;
}
footer>div>.ft_01>li:nth-child(1){
  text-align:right;
}
footer>div>.ft_01>li:nth-child(2){
  font-size:1.2rem;
  color:#5d5d5d;
}
footer>div>.ft_01>li>a{
  font-size:1.5rem;
  font-weight:bold;
  color:#5d5d5d;
}
/*검색창 영역*/
#search_popup{
font-weight: 700;
}
.search_bar_bg{width:83%; margin:2% auto 1%;
height:10%;}
.search_bar1{
border:3px solid #156037;
width: 90%;
height:100%;
background: #f2f2f2;
box-sizing: border-box;
margin-right: 15px;
}

.search_bar_bg img{width:5%;  margin-top: 1%; }
#search_bg{
margin-top:2%;
width:83%;
height:82%;
border:3px solid #156037;
position: relative;
box-sizing: border-box;
}

#search_bg>div{
width:45%;
height:6.25%;
}
#search_icon>div:nth-child(1)>a img{
padding: 2px 0 0;
}
#search_icon>div:nth-child(1)>a{
    width:270px; height:30px;
}
#search_bg:nth-child(2)>a img{
padding: 5px 0 0;
}
#search_r>li>a,#search_l>li>a{ line-height: 2;
color:#333;
font-size: 16px;
}

#search_bg{margin:0 auto;}
#search_r>li:first-child{display: flex;
flex-flow: row wrap; 
justify-content: space-around;
align-items :center}
#search_l>li:last-child{margin:140px 0 0 20px; }
#search_bg>ul{
width:50%;
height:100%;
}
#search_l>li>a{padding-left: 10px;}
#search_bg>ul:nth-child(1){
position: absolute;
left: 0; 
border-right: 2px solid rgba(21, 96, 55,0.1);


}
#search_r>li{padding-left: 5%;}
#search_bg>ul:nth-child(1)>li:first-child{text-align: center; }
#search_bg>ul>li:first-child>a{color: #156037; font-size: 20px;}
#search_bg>ul:nth-child(2){
position: absolute;
right:0 ;
}
#search_bg>ul:nth-child(2)>li:nth-child(5){
top:30px;
}




input[type=checkbox] {
display: none;
}

input[type=checkbox] + label {
display: inline-block;
width: 35px;
height: 35px;
cursor: pointer;
position: relative;
z-index: 2;
text-align: right;

}
#x_icon{width:35px; height: 35px;}
#search_popup{
visibility: hidden;
width: 0;
height: 0;
overflow: hidden;
text-indent: -9999px;
}



input[type=checkbox]:checked ~ #search_popup {
visibility: visible;
width: 600px;
height: 400px;

overflow: hidden;
text-indent: 0;
right: 0;
background: rgba(0,0,0,0.1);
transition: all 0.4s;
position: fixed;

box-sizing: border-box;
top: 50px;
right: 50px;
z-index: 1;
}

#search_insert{width:240px; border:0;  background: rgba(0,0,0,0.1);}

/*mobile V*/
@media all and (max-width:1024px){
    
    .wrap{width:740px;}
    .top>ul>li{margin-left: 0px;}
    .top>ul>li>a{padding:10px;}
    .product_list>div>a{
        width:325px;
        margin-left:0px;
        margin-bottom:100px;
    }
    .product_list>div>a img{height: 305px; padding:10px;}
    .product_list>div>a>ul>li:first-child{width:325px; height:325px;}
    html{min-width: 100px;}
    body {
        width:1024px;
      }
      .wrap {
        width: 740px;
      }
      /*모바일 헤더영역 */
      #header {
        display: none;
      }
      #util,
      .gnb {
        display: none;
      }
    
      #menu {
        display: none;
      }
    
      #m_header {
        display: block;
        width: 100%;        margin: 0 auto;
        box-sizing: border-box;
        height: 100px;
        z-index: 99999;
        position: fixed;
        background: #fff;
        right:0;
      }
      #m_logo {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
        text-align: center;
      }
    
      #m_logo img {
        width: 180px;
      }
    
      input[id="m_btn"] {
        display: none;
      }
    
      input[id="m_btn"] + label {
        display: block;
        width: 60px;
        height: 40px;
        cursor: pointer;
        position: relative;
        z-index: 2;
        float: right;
        right: 5%;
        top: 30%;
      }
    
      input[id="m_btn"] + label > span {
        display: block;
    
        height: 7px;
        width: 100%;
        border-radius: 30px;
        background: black;
        position: absolute;
      }
    
      input[id="m_btn"] + label > span:nth-child(1) {
        top: 0;
      }
    
      input[id="m_btn"] + label > span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
    
      input[id="m_btn"] + label > span:nth-child(3) {
        bottom: 0;
      }
      #m_popup {
        visibility: hidden;
        width: 0;
        height: 0;
        overflow: hidden;
        text-indent: -9999px;
      }
      .m_gnb {
        width: 90%;
        margin-bottom: 30px;
      }
      .m_gnb > li > a {
        display: block;
        color: #f2f2f2;
        font-size: 3rem;
        line-height: 1.8;
      }
      .m_gnb > li:last-child {
        border-bottom: 3px solid #156037;
        padding-bottom: 30px;
      }
    
      .m_util {
        width: 90%;
      }
      .m_util > li > a {
        display: block;
        color: #f2f2f2;
        font-size: 2rem;
        line-height: 2;
      }
    
      .m_gnb > li > a:hover,
      .m_util > li > a:hover {
        font-weight: bold;
        color: #156037;
      }
    
      input[id="m_btn"]:checked + label > span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transition: all 0.4s;
        background: #fff;
      }
    
      input[id="m_btn"]:checked + label > span:nth-child(2) {
        display: none;
      }
    
      input[id="m_btn"]:checked + label > span:nth-child(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
        transition: all 0.4s;
        background: #fff;
      }
    
      input[id="m_btn"]:checked ~ #m_popup {
        visibility: visible;
        width: 50%;
        height: 100%;
    
        overflow: hidden;
        text-indent: 0;
        right: 0;
        background: #000;
        transition: all 0.4s;
        position: fixed;
        padding: 60px 25px 25px 25px;
        box-sizing: border-box;
        top: 0;
        right: 0;
        z-index: 1;
      }




 /*모바일 푸터*/

 footer{
  width:1024px; height:100px; margin:0 auto;
}
footer div.wrap {width:740px; height:100px;
  position:relative;
  padding:0;

}

footer>div>.logo{
  position: absolute; left:0; top:50%; transform: translateY(-50%); width:250px; height:30px; line-height: 30px; text-align: center; margin: 0;
}
footer>div>.logo img{width:244px; height:25px; vertical-align: middle;}
footer>div>address{ 
  text-align: left;
  position:absolute;
  
  top:15px;
  left:35%;
}
footer>div>address>p{
  
  font-size:1rem;
  color:#5d5d5d;
}
footer>div>.ft_01{
  text-align: left;
  width:450px;
  margin:0;
  
 position: absolute;
 top:70px;
 left:35%;
 display: flex;
  flex-flow: row wrap; 
 justify-content:space-between;
 align-items:flex-end;
}
footer>div>.ft_01>li{ display: block; padding:0; height:20px; line-height: 20px; }
footer>div>.ft_01>li:first-child{width:135px;  text-align: left; }
footer>div>.ft_01>li:last-child{width:315px; text-align: right; }
footer>div>.ft_01>li:nth-child(2){
  font-size:1rem;
}
footer>div>.ft_01>li>a{
  font-size:1.4rem;
}



}