@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css");
@font-face {
  font-family: "양진체";
  src: url("https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/*font-family: 'Noto Sans KR', sans-serif;*/
/*font-family: '양진체'*/
html {
  font-size: 12px;
  font-family: "Noto Sans KR", sans-serif;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  color: #333;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}
h2 {
  display: none;
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
  text-indent: -9999px;
}

.clear::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}

.b_wrap{width: 1200px ; margin:0 auto;}
/*헤더영역*/
#header{
  width:100%;
  height:100px;
  margin: 0 auto;
  
 
}
.header_wrap{margin: 0 110px; position: relative; width:1700px; height:100px;}
#m_header{display: none;}
#logo{
  width:250px;
  height:70px;
  display:inline-block;
  position: absolute;
  left:0px;
  top:15px;
}

.r_icon{width:80px; display: flex;
  flex-flow: row wrap; 
 justify-content: space-between;
 align-items :center;

}
.r_icon img{width:30px; height:30px;}

#main_search{width:400px; position: absolute; bottom: 10px; right:0; height:30px; line-height: 30px;
  display: flex;
  flex-flow: row wrap; 
 justify-content: space-between;
 align-items :center;
}
#main_search input{
  
  border:none;  border-bottom:2px solid #156037; 
  width:270px; height:30px;
  outline: none;
  text-align: center;

}

#main_search>a{display:inline-block; width:25px; height:25px;  }
#main_search>a>img{width:25px; height:25px; padding-top: 3px;}
#util{


  position: absolute;
  top:10px;
  right:0;

}
.util_right>li{
  float:left;

}
.util_right>li:nth-child(2),
.util_right>li:nth-child(4),
.util_right>li:nth-child(6),
.util_right>li:nth-child(8),
.util_right>li:nth-child(10){
  margin:0 20px 0 20px;
}
.util_right::after{
content:'';
width:0; height:0;
display:block;
clear:both;
visibility:hidden;
}
.util_right>li>a{
  font-size:1.2rem;
}
.gnb{
  position:absolute;
  left:590px;
  width:720px;
  display:flex;
  flex-flow:row wrap;
  justify-content: space-between;
  bottom:15px;
  left:50%;
  transform: translateX(-50%);
}
.gnb>li{
  float:left;
  text-align: center;
}
.gnb>li>a{
  display:block;
  font-size:1.7rem;
  font-weight:bold;
  transition: all .4s;
  width:240px;
  position:relative;
  color:#5d5d5d;
}
.gnb>li>a:hover{
  font-size:1.9rem;
  color:#156037;
  transition: all .4s;
}
.gnb>li:nth-child(1)>a{font-size:1.9rem;
  color:#156037;}

.gnb>li>a::after {
  content: "";
  width: 0;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
}
.gnb>li>a:hover::after {
  content: "";
  width: 50%;
  height: 4px;
  position: absolute;
  background: #156037;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  transition: all 0.3s;
}
.gnb>li:nth-child(1)>a::after{ content: "";
  width: 60%;
  height: 4px;
  position: absolute;
  background: #156037;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  transition: all 0.3s;}
  .gnb>li:nth-child(2)>a:first-child:hover::after,
  .gnb>li:nth-child(3)>a:first-child:hover::after {
      width: 60%;
  }


#menu{
    position:fixed;
    left:50px;
    font-size:1.7rem;
    line-height:2;
    top:266px;
    z-index:99999;
}
#menu>ul>li>a{transition: all .4s;
color:#5d5d5d; z-index:99999;}
#menu>ul>li>a:hover{
    font-size:30px;
    color:#156037;
    font-weight:bold;
    transition: all .4s;
    z-index:99999;
}

/*step*/
#step{
    width: 100%; height: 60px;
    text-align: center;
    padding-top:150px;
}
#step>h4{
    width: 100%;
    font-size: 3rem;
}


/*tilte 공통*/
.title{
    width: 100%; height: 70px;
    line-height: 32px;
    box-sizing: border-box;
    border-top: 1px solid #333;
    border-bottom: 2px solid #333;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.title>h3{
    display:block;
    font-size: 2rem;
    margin: 17px 0 0 20px;
}
.title>h4{
    display: block;
    margin: 17px 10px 0px 0px;
}


/*order*/
.order{width: 100%;}

#order>div:nth-child(2){
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid #333;
}
#order>div:nth-child(2)>p:nth-child(1){
    display: block;
    width: 70%; height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.5rem;
}
#order>div:nth-child(2)>p:nth-child(2),
#order>div:nth-child(2)>p:nth-child(3){
    display: block;
    width: 15%; height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.5rem;
}
#order>div:nth-of-type(4){margin-bottom: 80px;}
.product{width: 100%; margin-top: 50px;}
.image{
    width: 25%; height: 300px;
    margin-left: 50px;
    border: 2px solid #ddd;
}
.image>img{width: 90%; margin: 80px 0 0 15px;}
.product>div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
.product>div>ul{
    width: 38%;
    padding: 30px 20px;
    box-sizing: border-box;
}
.product>div>ul>li{font-size: 1.2rem; margin: 30px 0;}
.product>div>ul>li:nth-child(1){
    font-size: 1.5rem; margin:0;
    font-weight: 500;
}
.product>div>ul>li:nth-child(5){
    font-weight: 500;
}
#order>div:nth-of-type(3){
  border-bottom: 2px solid #ddd;
}


.price{
    width: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    padding-top: 150px;
}
.price>p{
    width: 50%;
    font-size: 1.5rem;
    font-weight: 500;
}


/*consumer*/
.c_info{margin-bottom: 60px;}
.c_info span{
    display: inline-block;
    width: 120px; height: 30px;
    line-height: 35px;
    font-size: 16px;
    margin: 20px 20px 20px 50px;
}
.c_info input{height: 20px;}
.c_info>p:nth-child(2) select{
    width: 70px; height: 26px;
    margin-right: 5px;
}
.c_info>p:nth-child(3) select{
  width: 120px; height: 26px;
}
.c_info>p:nth-child(1) input{width: 311px;}
.c_info>p:nth-child(2) input{width: 211px;}

/*address*/
.a_info{margin-bottom: 60px;}
.a_info>p span{
    display: inline-block;
    width: 120px; height: 30px;
    line-height: 35px;
    font-size: 16px;
    margin: 20px 20px 20px 50px;
}
.add{
    display: flex;
    justify-content: left;
}
.add>p:first-child{
    display:block;
    width: 120px; height: 30px;
    line-height: 20px;
    font-size: 16px;
    margin: 0px 23px 20px 50px;
}
.add>p:last-child{
  width: 400px; height: 120px;
  position: relative;
}
.add>p:last-child input{
  width: 311px; 
}
#sample6_postcode{
  width: 150px; margin-right: 10px;
  position: absolute;
}
#sample6_search{
  width: 100px; height: 26px; 
  position: absolute; 
  top: 0px; left: 170px;
}
#sample6_address{
  position: absolute;
  top: 40px
}
#sample6_detailAddress{
  position: absolute;
  top: 80px;
}
.a_info select{
    width: 70px; height: 26px;
    margin-right: 5px;
}

.a_info input{height: 20px;}
.a_info>p:nth-of-type(1) input{width: 311px;}
.a_info>p:nth-of-type(2){margin-bottom: 25px;}
.a_info>p:nth-of-type(2) input{width: 211px;}
.a_info>p:nth-of-type(3) input{width: 311px;}

/*pay*/

#pay{width: 100%;}
.choise{
    width: 100%;
    display: flex;
    justify-content: left;
}
.choise>label{
  width: 120px; height: 120px;
  margin: 20px 20px 80px;
  position: relative;
}
.choise>label img{width: 100%; height: 100%;}
.choise>label:first-child{margin-left: 50px;}



/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  border: 2px solid #999;
  box-sizing: border-box;

}


/*confirm*/
#confirm{
    width: 100%; height: 520px;
    position: relative;
    margin-bottom: 50px
}
#confirm>div:nth-child(2){
    width: 50%;
    position: absolute;
    right: 0;
}
#confirm>div:nth-child(2)>div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#confirm>div:nth-child(2)>div p{
    margin: 30px 15px;
    font-size: 16px;
}
#confirm>div:nth-child(2)>div:nth-child(3){border-bottom: 1px solid #333;}
#confirm>div:nth-child(2)>div:last-child>p{
    font-size: 2rem;
    font-weight: 500;
}
#confirm>div:nth-child(2)>div:last-child>p:last-child>span{color: red;}
#confirm>p{
    position: absolute;
    right: 33%; bottom: 0px;
    font-size: 14px;
}
.c_btn>a{
    display: block;
    width: 120px; height: 60px;
    line-height: 60px;
    padding-left: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    background: #156037;
    box-sizing: border-box;
    position: absolute;
    right: 130px; bottom: 0px;
}
.c_btn>a:hover{
    background: #145933;
}
.c_btn>a:active{
    background: #0f4025;
}
.p_btn>a>input{
    display: block;
    width: 120px; height: 60px;
    line-height: 60px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    background: #8dc270;
    box-sizing: border-box;
    position: absolute;
    right: 0px; bottom: 0px;
    border: 0;
    cursor: pointer;
}
.p_btn>a>input:hover{
    background: #89bc6e;
}
.p_btn>a>input:active{
    background: #7ba962;
}




/*푸터영역*/
footer{
  background:#d7d7d7;
  height:100px;
}
footer>.wrap{
  position:relative;
  padding:0;
}
footer>div>.logo{
  float:left;
  margin-top:40px;
}
footer>div>address{
  position:absolute;
  left:300px;
  top:30px;
}
footer>div>address>p{
  line-height:25px;
  font-size:1.2rem;
  color:#5d5d5d;
  text-align: left;
}
footer>div>.ft_01{
  float:right;
  margin-top:30px;
}
footer>div>.ft_01>li{
  padding:5px;
}
footer>div>.ft_01>li:nth-child(1){
  text-align:right;
}
footer>div>.ft_01>li:nth-child(2){
  font-size:1.2rem;
  color:#5d5d5d;
}
footer>div>.ft_01>li>a{
  font-size:1.5rem;
  font-weight:bold;
  color:#5d5d5d;
}


@media all and (max-width: 1024px) {
    body {
      width:100%;
    }
    .wrap {
      width: 100%;
    }
    .b_wrap{width: 740px; margin: 0 auto;}
     /*모바일 헤더영역 */
     #header {
      display: none;
    }
    #util,
    .gnb {
      display: none;
    }
  
    #menu {
      display: none;
    }
  
    #m_header {
      display: block;
      width: 100%;        margin: 0 auto;
      box-sizing: border-box;
      height: 100px;
      z-index: 99999;
      position: fixed;
      background: #fff;
      right:0;
    }
    #m_logo {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      height: 50%;
      text-align: center;
    }
  
    #m_logo img {
      width: 180px;
    }
  
    input[id="m_btn"] {
      display: none;
    }
  
    input[id="m_btn"] + label {
      display: block;
      width: 60px;
      height: 40px;
      cursor: pointer;
      position: relative;
      z-index: 2;
      float: right;
      right: 5%;
      top: 30%;
    }
  
    input[id="m_btn"] + label > span {
      display: block;
  
      height: 7px;
      width: 100%;
      border-radius: 30px;
      background: black;
      position: absolute;
    }
  
    input[id="m_btn"] + label > span:nth-child(1) {
      top: 0;
    }
  
    input[id="m_btn"] + label > span:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
  
    input[id="m_btn"] + label > span:nth-child(3) {
      bottom: 0;
    }
    #m_popup {
      visibility: hidden;
      width: 0;
      height: 0;
      overflow: hidden;
      text-indent: -9999px;
    }
    .m_gnb {
      width: 90%;
      margin-bottom: 30px;
    }
    .m_gnb > li > a {
      display: block;
      color: #f2f2f2;
      font-size: 3rem;
      line-height: 1.8;
    }
    .m_gnb > li:last-child {
      border-bottom: 3px solid #156037;
      padding-bottom: 30px;
    }
  
    .m_util {
      width: 90%;
    }
    .m_util > li > a {
      display: block;
      color: #f2f2f2;
      font-size: 2rem;
      line-height: 2;
    }
  
    .m_gnb > li > a:hover,
    .m_util > li > a:hover {
      font-weight: bold;
      color: #156037;
    }
  
    input[id="m_btn"]:checked + label > span:nth-child(1) {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      transition: all 0.4s;
      background: #fff;
    }
  
    input[id="m_btn"]:checked + label > span:nth-child(2) {
      display: none;
    }
  
    input[id="m_btn"]:checked + label > span:nth-child(3) {
      bottom: 50%;
      transform: translateY(50%) rotate(-45deg);
      transition: all 0.4s;
      background: #fff;
    }
  
    input[id="m_btn"]:checked ~ #m_popup {
      visibility: visible;
      width: 50%;
      height: 100%;
  
      overflow: hidden;
      text-indent: 0;
      right: 0;
      background: #000;
      transition: all 0.4s;
      position: fixed;
      padding: 60px 25px 25px 25px;
      box-sizing: border-box;
      top: 0;
      right: 0;
      z-index: 1;
    }

    /*order(Mver)*/
    #order>div:nth-of-type(2){display: none;}
    #order>div:nth-of-type(3){border-bottom: 1px solid #ddd;}
    .price{display: none;}
    .image{width: 40%; margin-left: 30px;}
    .product>div>ul{
      width: 50%;
      margin-right: 30px;
      padding:30px 70px 0px 40px;
    }

    /*consumer(Mver)*/
    .c_info{
      width: 100%;
      margin: 0 auto 60px;
      padding-left: 80px;
      box-sizing: border-box;
    }

    /*address(Mver)*/
    .a_info{
      width: 100%;
      margin: 0 auto 60px;
      padding-left: 80px;
      box-sizing: border-box;
    }

    /*pay(Mver)*/
    .choise{
      width: 100%; margin: 0 auto; 
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    .choise>label{
      width: 150px; height: 150px;
      margin: 30px 0;
    }
    .choise>label:nth-of-type(2){margin:30px 0px}
    .choise>label:nth-of-type(3){margin:30px 50px 30px 0px}
    .choise>label:nth-of-type(4){margin: 10px 0px 80px 50px;}
    .choise>label:nth-of-type(5){margin: 10px 0px 80px 0px;}
    .choise>label:nth-of-type(6){margin: 10px 50px 80px 0px;}
    .choise>label img{width: 100%; height: 100%;}

    /*confirm*/
    #confirm{height: 500px;}
    #confirm>div:nth-of-type(2){
      width: 70%;
      left: 50%;
      transform: translateX(-50%);
    }
    #confirm>div:nth-child(2)>div p{
      margin: 20px 15px;
      font-size: 16px;
    }
    #confirm>div:nth-child(2)>div:nth-child(3){border: 0;}
    #confirm>div:nth-child(2)>div:last-child{border-bottom: 1px solid #333;}
    #confirm>p{
      position: absolute;
      left: 36%; bottom: 25%;
      font-size: 14px;
   }
   .c_btn>a{
    width: 180px; height: 90px;
    position: absolute;
    left: 24%;
    font-size: 2.5rem;
    line-height: 90px;
    padding-left: 34px;
   }
   .p_btn>a>input{
    width: 180px; height: 90px;
    position: absolute;
    right: 24%;
    font-size: 2.5rem;
    line-height: 90px;
   }


  /*탑버튼*/
  .up_button {
    width: 40px;
    height: 40px;
    background-image: url("../images/brand_main/up_button.svg");
    position: fixed;
    right: 30px;
    bottom: 120px;
    display: none;
  }
 /*모바일 푸터*/

 footer{
  width:100%; height:100px; margin:0 auto;
}
footer div.wrap {width:740px; height:100px;
  position:relative;
  padding:0;

}

footer>div>.logo{
  position: absolute; left:0; top:50%; transform: translateY(-50%); width:250px; height:30px; line-height: 30px; text-align: center; margin: 0;
}
footer>div>.logo img{width:244px; height:25px; vertical-align: middle;}
footer>div>address{ 
  text-align: left;
  position:absolute;
  
  top:15px;
  left:35%;
}
footer>div>address>p{
  
  font-size:1rem;
  color:#5d5d5d;
}
footer>div>.ft_01{
  text-align: left;
  width:450px;
  margin:0;
  
 position: absolute;
 top:70px;
 left:35%;
 display: flex;
  flex-flow: row wrap; 
 justify-content:space-between;
 align-items:flex-end;
}
footer>div>.ft_01>li{ display: block; padding:0; height:20px; line-height: 20px; }
footer>div>.ft_01>li:first-child{width:135px;  text-align: left; }
footer>div>.ft_01>li:last-child{width:315px; text-align: right; }
footer>div>.ft_01>li:nth-child(2){
  font-size:1rem;
}
footer>div>.ft_01>li>a{
  font-size:1.4rem;
}












}