@import url('reset.css');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*font-family: 'Noto Sans KR', sans-serif;*/

html{font-family: 'Noto Sans KR', sans-serif; background: #fbf9f9; 
    font-size: 14px;
}

a{text-decoration:none; }
a:link{color:#333;}
a:visited{color:#333;}
a:hover{color:#333;}
a:active{color:#333;}


/*lnb*/
.side_bg{width:300px; height:1200px; background: #fff; position: fixed; }


#profile{width:300px; height:200px; text-align: center; line-height: 1.8;
    margin-bottom: 20px;}
#profile>p{font-size: 12px;}
#profile img{width:75px; height:75px;}

#current_date{color:#333; font-size: 10px; text-align: left;}

.time, .date{
    margin-left: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    text-align: left;
}

#lnb>ul{width:100%; height:400px;}

#lnb>ul>li>a{width:100%; height:50px; background: #0045AC; line-height: 50px; text-align: center;  color: #f5f5f5; font-weight: 700; font-size: 20px; display:block;}

/*main*/
.main_container{width:100%; height: 100%; padding:24px 110px 24px 410px; box-sizing: border-box;}
.more{text-align: right; font-size: 14px; margin-bottom: 6px; display: block;}
h2{color: #333; font-weight: bold; 
    text-align: left;  font-size: 24px;}



#sec01, #sec02, #sec03{ width:1381px; margin: 24px 0; }

/*section 01*/
#order{width: 100%; height:100%;}
#order th{
    width:140px; height:70px; background:#E9F7FF; line-height: 70px; 
    border:1px solid #d5d5d5; box-sizing: border-box;
}

#order td{ 
    width:140px; height:50px; line-height: 50px;
    background: #fff; border:1px solid #d5d5d5; box-sizing: border-box;
    text-align: center;
}





/*section 02*/

#rank{width:100%; height:100%;}
#rank th{width:100px; height: 70px; color:#333; font-weight: 500; background:#E9F7FF; line-height: 70px; 
    border:1px solid #d5d5d5; box-sizing: border-box;
}
#rank th:nth-child(3){width:800px;}

#rank td{ 
    width:150px; height: 70px; color:#333; line-height: 70px;
    border:1px solid #d5d5d5; box-sizing: border-box;
    background: #fff; border:1px solid #d5d5d5; box-sizing: border-box;
    text-align: center;
}
#rank td:nth-child(3){width:800px;}


/*section 03*/
#sec03>div:first-child{float:left;}
#sec03>div:last-child{float:right;}
#sec03>div{width:45%; height:100%; margin-right: 5%;}
#sec03>div:last-child{margin: 0;}
#sec03::after{
    content:'';
    width:0; height:0;
    display:block;
    clear:both;
    visibility:hidden;
 }
 
 


#sales_graph{width: 640px; height: 330px; background: #fff; position: relative;}
#sales_graph>img{
    width:90%;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}

#support th{width:150px; height: 50px; color:#333; font-weight: 500; background:#E9F7FF; line-height: 50px; 
    border:1px solid #d5d5d5; box-sizing: border-box;
}
#support th:nth-child(3){width: 360px;}

#support  td{ 
    width:100px; height:40px; line-height: 40px;
    background: #fff; border:1px solid #d5d5d5; box-sizing: border-box;
    text-align: center;
}
#support td:nth-child(3){width: 360px;}

